<footer class="pv5 mt6 bg-lg">
  <div class="container">
    <div class="content-container">
      <p class="tracked b ttu f6 mb4">Read more from the 2019 annual report</p>
      <ol start="0">
        <li><a href="{{ pages.presidents_message.url | url }}">{{ pages.presidents_message.name }}</a>
        <li><a href="{{ pages.students_and_graduates.url | url }}">{{ pages.students_and_graduates.name }}</a></li>
        <li><a href="{{ pages.education_ecosystem.url | url }}">{{ pages.education_ecosystem.name }}</a></li>
        <li><a href="{{ pages.community_and_partnerships.url | url }}">{{ pages.community_and_partnerships.name }}</a></li>
        <li><a href="{{ pages.institution.url | url }}">{{ pages.institution.name }}</a></li>
        <li><a href="{{ pages.grand_challenges.url | url }}">{{ pages.grand_challenges.name }}</a></li>
        <li><a href="{{ pages.facts_and_figures.url | url }}">{{ pages.facts_and_figures.name }}</a></li>
      </ol>
    </div>
  </div>
</footer>