<header class="pv3">
  <nav class="top-nav">
    
    <ul class="main-nav">
      <li><a class="main-nav__link" href="{{ '/' | url }}">Home</a></li>
      <li><a class="main-nav__link" href="{{ pages.presidents_message.url | url }}">{{ pages.presidents_message.name }}</a>
      <li><a class="main-nav__link" href="{{ pages.students_and_graduates.url | url }}">{{ pages.students_and_graduates.name }}</a></li>
      <li><a class="main-nav__link" href="{{ pages.education_ecosystem.url | url }}">{{ pages.education_ecosystem.name }}</a></li>
      <li><a class="main-nav__link" href="{{ pages.community_and_partnerships.url | url }}">{{ pages.community_and_partnerships.name }}</a></li>
      <li><a class="main-nav__link" href="{{ pages.institution.url | url }}">{{ pages.institution.name }}</a></li>
      <li><a class="main-nav__link" href="{{ pages.grand_challenges.url | url }}">{{ pages.grand_challenges.name }}</a></li>
      <li><a class="main-nav__link" href="{{ pages.facts_and_figures.url | url }}">{{ pages.facts_and_figures.name }}</a></li>
    </ul>
  </nav>

  <div class="container flex items-start justify-between">
    <div class="flex-m flex-l items-center-m items-center-l">
      <a class="logo-link" href="{{ "/index.html" | url }}"><img alt="Annual report home page" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/oswego-green.svg"></a>
      <p class="mt3 mb0 ml4-m ml4-l f7 lh-solid ttu tracked">
        2019 SUNY Oswego Annual Report
      </p>
    </div>
    
    <button class="hamburger hamburger--squeeze" aria-label="Toggle navigation" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</header>