---
title: Education Ecosystem
lede: Cultivating and supporting student success continues to be the core of SUNY Oswego’s identity and, throughout the past year, the college designed and implemented academic programs, courses and student-centered initiatives to spark curiosity, grow advisement practices and elevate learning outcomes.
layout: layouts/herolayout.njk
heroImage: images/20180423_chemistry_kahn_0715.jpg
---

<main class="page">

  {% Section "container mb0 mt6" %}
  <h2 class="mb4">Our tradition of excellence continues</h2>
  <p class="mt0">As we continue our tradition of excellence, our campus community remains committed to providing our most valuable asset—our students—with access to the very best facilities and resources, award-winning faculty and dedicated staff, in-demand academic programs, and applied learning opportunities.</p>

  {% endSection %}
  {% FullSection "bg-gold pv5 mt5 mb6", "SUNY Oswego faculty and staff are:" %}
  <div class="pv4 animate grid-4">
    {% Infographic {
        src: "images/mentors-advisors.jpg", 
        number: "Mentors and Advisors", 
        caption: "",
        link: "https://www.oswego.edu/news/story/professor-honored-patient-thorough-mentorship-student-researchers"
      }%}
      {% Infographic {
        src: "images/fulbright.jpg", 
        number: "Fulbright Scholars", 
        caption: "",
        link: "https://www.oswego.edu/news/story/fulbright-awarded-art-professor-pushing-boundaries-contemporary-drawing"
      }%}
    {% Infographic {
        src: "images/arank.jpg", 
        number: "Emerging Leaders", 
        caption: "",
        link: "https://www.oswego.edu/news/story/vote-oswego-founder-earns-national-civic-engagement-award"
      }%}
      {% Infographic {
        src: "images/chancellorsaward.jpg", 
        number: "Chancellor's Award Winners", 
        caption: "",
        link: "https://www.oswego.edu/news/story/chancellors-award-honors-fehmi-damkaci-genius-other-service-contributions"
      }%}
  </div>
  {% endFullSection %}

  {% Section "container" %}
  <h2>We reflect, advance and innovate together</h2>
  <p>As reflected in our mission statement, SUNY Oswego cares deeply about including and hearing all voices of its college community and working together with students and faculty governance, and all other college stakeholders to reflect on our work, discuss our future, and plan for how we can best serve each other and advance together.</p>

  {% endSection %}

  <div class="content-carousel mt4 mb6 flex">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src: "images/entrepreneurshipminor.jpg",
          title: "New minors in business analytics and entrepreneurship",
          teaser: "The SUNY Oswego School of Business launched new minors in business analytics and <a href=\"https://www.oswego.edu/news/story/new-minor-entrepreneurship-helps-prepare-students-startup-ventures\" target=\"_blank\">entrepreneurship</a>. The later offers core courses in entrepreneurial management, innovation and creativity, and provides a solid foundation for students who aim to take part in opportunities for business startups."
        } %}
      </div>
      <div>
        {% ContentCard {
          src: "images/criminaljusticemajor.jpg",
          title: "Modernized criminal justice major debuts",
          teaser: "SUNY Oswego transitioned its public justice major to <a href=\"https://www.oswego.edu/news/story/modernized-criminal-justice-major-debuts\" target=\"_blank\">criminal justice</a> – a move that modernizes the program, boosts its rigor in alignment with national standards and makes its name more recognizable to graduate schools and employers."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/IMG_9166.jpg",
          title: "SUNY Online",
          teaser: "SUNY Oswego was identified and selected as one of the initial participants for the <a href=\"https://www.sunyonline.edu\" target=\"_blank\">SUNY Online</a> pilot that launched in the fall 2019. Oswego’s initial participation offered the MBA in Health Services Administration program. The SUNY Online offerings will expand to include Oswego’s MBA and undergraduate Business Administration programs in spring 2020."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/ChristopherChandler_labwork.jpg",
          title: "Innovative research and grant funding",
          teaser: "With support from the Office of Research and Sponsored Programs (ORSP), Oswego faculty and staff composed competitive applications for external funding, totaling $4 million in grants for sponsored research and programs – a 14% increase in the number of grant applications / contracts submitted compared to the previous year, with a success rate of more than 71%."
        } %}
      </div>
    </div>
  </div>

  <div class="w-100 animate mv6">
    <div class="video--callout filter-darken">
      <div class="video__content absolute absolute--fill z-999 flex items-center">
        <p class="lh-solid gotham ttu db tc relative z-3 w-100 b">Our faculty <span class="blank tc">educate, mentor, inspire</span></p>
      </div>
      <iframe src="https://player.vimeo.com/video/388505705?background=1" width="640" height="256" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <section class="container">
    <div class="content-container">
      <h2>Our students reflect our state ... and our world</h2>
      <p>The fall first-year class of 2018 was the most culturally diverse (including all races and ethnicities and international students) ever to enroll at SUNY Oswego at 34%, a 150% increase compared to a decade ago. The fall 2018 first-year cohort was highly and geographically diverse. It included nearly 300 freshmen from the boroughs of New York City and scores of students from 20 other states and 15 countries. </p>
      <p>Our International Student &amp; Scholar Services (ISSS) office enrolled in fall 2018: 269 students from 44 countries, which included 214 degree-seeking and, 55 visiting / exchange students. These strong enrollment numbers reflect that we are holding our own in a very challenging international education market.</p>

      <h2>Academic excellence through innovation, partnerships and entrepreneurship</h2>
      <p>Each year, SUNY Oswego’s 300-plus faculty members lead over 110 academic programs at the bachelor’s, master’s, and post master’s certificate of advanced study degree levels. The Division of Academic Affairs remains laser focused on student preparation through curriculum, and high impact and engaging practices that occur through a seamless learning landscape — connecting the classroom with extracurricular opportunities that span all divisions and facets of the college.</p>

    </div>
  </section>
  <div class="content-carousel mt4 mb6">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src : "images/abet.jpg",
          title: "Oswego's engineering programs earn ABET accreditation",
          video: "347282741",
          starttime: "8.75",
          teaser: "SUNY Oswego's electrical and computer engineering, and software engineering programs were accredited by ABET, a global designation ensuring the program and its graduates meet the quality standards of the engineering profession."
        }
 %}
      </div>
      <div>
        {% ContentCard {
            src: "images/preparedtoteach_scsd.jpg",
            title: "Embedding Teacher Candidates in Schools, Communities",
            teaser: "As a result of its transformative residency work, the School of Education was invited to participate in the <a href=\"https://www.oswego.edu/news/story/oswego-expertise-teacher-candidate-residencies-tapped-statewide-project\" target=\"_blank\">Prepared to Teach — New York Learning Network</a>, which involves the expansion of clinically-rigorous teacher preparation, including the creation of sustainable structures for funding teacher residencies."
          } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/gradstudies70.jpg",
            title: "Expanding Access to Graduate Education",
            video: "336103368",
            teaser: "Our Division of Graduate Studies celebrated its <a href=\"https://www.oswego.edu/news/story/college-hosts-weeklong-celebration-70-years-graduate-education\" target=\"_blank\">70th anniversary</a> in November 2018. Today, the Division of Graduate Studies is now responsible for the administration of more than 50 degree and certificate programs. It also has expanded the financial support it offers to students through the Graduate Ambassador Program and the Community Impact Scholars Program. "
          } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/ionicwindbreakthrough.jpg",
            title: "Ion Wind Technology Breakthrough takes Flight",
            teaser: "Electrical and computer engineering faculty member Adrian Ieta and the SUNY Research Foundation pursued a <a href=\"https://www.oswego.edu/news/story/ion-wind-technology-breakthrough-takes-flight-suny-oswego\" target=\"_blank\">patent on promising technology</a> that could open up a new field of development. Ieta and his students’ research achieved a first-of-its-kind rotational flight using ionic wind."
          } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/acue_elizabethkeida.jpg",
            title: "Further Developing Effective Teaching Practices",
            teaser: "SUNY Oswego named 35 of its faculty as <a href=\"https://www.oswego.edu/news/story/project-advance-classroom-skills-aiming-boost-student-success\" target=\"_blank\">Association for College and University Educators (ACUE) fellows</a> to engage in a yearlong series of intensive training modules called the \"Course in Effective Teaching Practices.\""
          } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/sums.jpg",
            title: "Paving the way for Student Success in STEM",
            video: "322001824",
            starttime: "8",
            teaser: "The SUNY Performance Improvement Fund (PIF) supported the college’s <a href=\"https://www.oswego.edu/news/story/summer-math-camp-paves-way-student-success\" target=\"_blank\">SUMS-Summer Math Camp</a> program that continued to assist incoming freshmen, transfer and international students with degree completion in STEM and education programs."
          } %}
      </div>
    </div>
  </div>

  <section class="container">
    <div class="content-container">
      <h2>Education, research and mentoring</h2>
      <p>Individualized education through applied learning remains a hallmark of a SUNY Oswego education. The college encourages faculty to form meaningful and lasting relationships with all students by conducting research with our primarily undergraduate student population and by serving as mentors and discipline experts who can advise students on career and advanced degree opportunities. Faculty-student relationships also help SUNY Oswego develop pipelines to academic careers.</p>

    </div>
  </section>

</main>
