<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{{ heroImage }}" />
    <title>{{title}} | 2019 SUNY Oswego Annual Report</title>
    <meta name="description" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <script src="{{ '/js/svgxuse.js' | url }}"></script>
    {# <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6053872/7882552/css/fonts.css" /> #}
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6053872/7882552/css/fonts.css"/>

    <link rel="stylesheet" href="{{ '/css/normalize.css' | url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.9.1/tachyons.min.css">

    <link rel="stylesheet" href="{{ '/css/main.processed.css' | url }}">
    <script src="{{ '/js/vendor/modernizr-2.8.3.min.js' | url }}"></script>

    <script src="{{ '/js/vendor/js.cookie.js' | url }}"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{{ '/js/sticky-sidebar.js' | url }}"></script>

    <script src="{{ '/js/vendor/gsap.min.js' | url }}"></script>

  </head>

  <body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    {% include './header.njk' %}

    {{ content | safe }}
    <div id="video-modals">
      <button class="close-modal">close</button>
    </div>
    {% if page.url !== '/' %}
    {% include './footer.njk' %}
    {% endif %}

    {# <script>
    window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.0.min.js"><\/script>')
  </script> #}

    <script src="{{ '/js/plugins.js' | url }}"></script>
    <script src="{{ '/js/main.js' | url }}"></script>

    {% if page.url == '/facts-and-figures/' %}
      <script src="{{ '/js/charts.js' | url }}"></script>
    {% endif %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131933-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131933-1');
</script>

  </body>

</html>