---
layout: layouts/article.njk
---

<div class="hero pv5 pv6-l">
  <div class="hero__container container " style="">
    <div class="hero__content pr5-ns fade-in-fwd">
      <h1 class="mt0 hero__title lh-title mercury">{{ title }}</h1>
      <p class="lede f4 mercury">{{ lede }}</p>
      
        <p class="ma0 f5">{{ intro }}</p>
      
    </div>
    <div class="hero__image overflow-hidden fade-in-fwd">
      <img alt="" src="{{ heroImage }}">
    </div>
  </div>
</div>

{{ content | safe }}

