---
title: Institution
lede: As an economic anchor, SUNY Oswego strengthens both regional and New York State economies through its production of human capital in innovative interdisciplinary programs that cross traditional boundaries – all while keeping a keen eye on how the college can remain sustainable and effective for decades ahead.
layout: layouts/herolayout.njk
heroImage: images/20180715_demetri_andritsakis_DJI_0066_limitedRTCH.jpg
---

<main class="page">

  {% Section "container mt6 mb0" %}
  <h2 class="mb4">Our lasting commitment to the physical campus</h2>
  <p class="mt0">SUNY Oswego’s main campus is situated on 700+ acres of stunning lakefront property that provides a unique physical setting rich in natural beauty and state-of-the-art, modern facilities -- a treasured beacon for students, faculty, staff, community members and visitors. It is our duty and privilege to continue to protect and invest in our campus.</p>

  <p>The college continued its long-standing record of investment in the physical campus this past year repurposing academic program space to meet new and emerging pedagogies. </p>

  {% endSection %}

  <div class="content-carousel mt4 mb6 flex">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src : "images/wilberhall.jpg",
          title: "Education departments reunite in renovated Wilber Hall ",
          teaser: "The School of Education (SOE) Renovation Committee worked with Facilities Services and the architects responsible for designing and bringing to fruition the $15.4 million <a href=\"https://www.oswego.edu/news/story/education-departments-reunite-renovated-wilber-hall\" target=\"_blank\">Wilber Tower renovation project</a>, which was designed to reach the LEED gold standard."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/myhometown.jpg",
          title: "Strengthening our visual and performing arts facilities",
          teaser: "Phase I and II of the Tyler Hall renovation made all the facilities appropriate to the delivery of high-quality, college-level music program, theatre, and studio arts programs."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/20171026_gradstudies_kahn_cd79_0584.jpg",
          title: "Growing our Syracuse campus facilities",
          teaser: "Oswego’s Syracuse campus facility improvements included renovations to the front desk and kitchen as well as the construction of a second floor space for the Biomedical and Health Informatics (BHI) program. The new BHI space includes a clinical demonstration lab, a classroom and an administrative support area."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/thespace.jpg",
          title: "Introducing “The Space”",
          teaser: "On our main campus, Event Management worked collaboratively on the completion of a new programming space called “The Space,” which has been prioritized for use by student groups and organizations. The Space will host anything from small social events like club meetings and dinners to large dances and celebrity performances."
        } %}
      </div>
    </div>
  </div>

  <div class="w-100 animate mv6">
    <div class="video--callout filter-darken">
      <div class="video__content absolute absolute--fill z-999 flex items-center">
        <p class="lh-solid gotham ttu db tc relative z-3 w-100 b">Our institution is <span class="blank tc">vibrant, diverse, sustainable</span></p>
      </div>
      <iframe src="https://player.vimeo.com/video/388505771?background=1" width="640" height="256" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <section class="container">
    <div class="content-container">
      <h2>Propelling our students well into the future</h2>
      <p>Our innovative program areas seek to understand the pulse of our society as well as the state of our economy by forecasting business and industry demand for skills that will propel our students, and the communities in which they live, well into the future.</p>
      <p>Our enrollment management strategy is nimble and partner rich. Last year, SUNY Oswego enhanced its recruiting, marketing and enrollment management strategies in the following ways:</p>

    </div>
  </section>
  <section class="bg-gold pv5 mt5 mb6">
    
    
  
  
  <div class="pv4 animate grid-3">
    {% Infographic {
        src: "images/app.jpg", 
        number: "Launched the Admission Promise Program", 
        caption: "",
        link: "https://www.oswego.edu/news/story/new-admission-promise-program-opens-potential-pathways"
      }%}
    {% Infographic {
        src: "images/startnowhero.jpg", 
        number: "Scaled up Start Now", 
        caption: "",
        link: "https://www.oswego.edu/admissions/start-now"
      }%}
    {% Infographic {
        src: "images/orientation_2018.jpg", 
        number: "Provided transportation to orientation", 
        caption: "",
        link: "https://www.oswego.edu/news/story/suny-honors-oswego-offering-orientation-express-buses-nyc"
      }%}
  </div>
  </section>

  <section class="container">
    <div class="content-container">

      <h2>Our careful stewardship of our financial resources</h2>
      <p>The Oswego College Foundation’s Investment Committee, comprised of alumni volunteers with significant investment expertise, skillfully stewarded the endowment throughout the tumultuous market ups and downs over the past year to its June 2019 level of more than $41.8 million – an 11.7% increase from FY2018. The investment returns have exceeded the national average for 12 years straight, and for 15 of the past 16 years, according to the latest data released by the National Association of College and University Business Officers (NACUBO).</p>

      <h2>Preserving our institutional identity and reputation</h2>
      <p>Our diverse, talented and prepared students thrive at SUNY Oswego because of our committed, student-centered faculty and staff who are experts in their fields and devoted mentors to our students. Our lakefront campus, equipped with modern facilities and research laboratories and in-demand academic programs, paired with decades of institutional investment focused on students, makes SUNY Oswego an attractive destination. This reputation and measureable track record of success has resulted in significant national rankings and reputation for SUNY Oswego. </p>

    </div>
  </section>

  <div class="content-carousel mt4 mb6">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src: "images/usnews18-bestval.jpg",
          title: "SUNY Oswego earns high rankings from U.S. News",
          teaser: "In 2019, SUNY Oswego was named one of the <a href=\"https://www.oswego.edu/news/story/suny-oswego-earns-high-rankings-best-value-nod-us-news-and-world-report\" target=\"_blank\">top 15 public “Regional Universities in the North”</a> and among the top 10 “Best Value Schools in the North” by U.S. News & World Report."
        } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/onlinemba19.jpg",
            title: "Online MBA ranks #1 among NYS public colleges",
            teaser: "Oswego’s nationally ranked <a href=\"https://www.oswego.edu/news/story/online-mba-among-us-news-rankings-top-programs\" target=\"_blank\">online MBA placed #1</a> among New York state public colleges in U.S. News’ “Best Online Degree Programs: MBA.”"
          } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/princetonreview.jpg",
          title: "Oswego among Princeton Review's 'Best Colleges'",
          teaser: "SUNY Oswego was <a href=\"https://www.oswego.edu/news/story/oswego-again-among-princeton-reviews-best-regional-colleges\" target=\"_blank\">recognized in 2019 by the Princeton Review</a> as one of the “Best Regional Colleges in the Northeast” — an honor bestowed on Oswego every year since 2003."
        } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/coll-distinction.jpg",
            title: "Honored among national Colleges of Distinction",
            teaser: "SUNY Oswego was recognized for its committed implementation of high-impact educational practices, earning a place as <a href=\"https://www.oswego.edu/news/announcements/suny-oswego-honored-among-national-colleges-distinction\" target=\"_blank\">one of the nation’s 2018-19 Colleges of Distinction</a>, as well as on lists recognizing public colleges, and business and education schools and programs."
          } %}
      </div>
    </div>
  </div>

</main>
