---
title: Communities and Partnerships
lede: In addition to serving as an economic engine in our region, SUNY Oswego makes a difference in people’s lives through access to education, and outreach and service to our communities. 
layout: layouts/herolayout.njk
heroImage: images/hero.jpg
---

<main class="page">

  {% Section "container mt6 mb0" %}
  <h2 class="mb4">Our impact resounds</h2>
  <p class="mt0">A shared vision across our campus for building external partnerships includes student and faculty alignment with business and industry practices and trends, business and industry alignment with program and curriculum development, and supporting the needs of our external partners in the community and region.</p>

  {% endSection %}

  <div class="content-carousel mt4 mb6 flex">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src : "images/nationalgridcareerfair1_hollyoyer_web.jpg",
          title: "Partnering pipeline to careers",
          teaser: "SUNY Oswego’s Office of Career Services participated in <a href=\"https://www.oswego.edu/news/story/oswego-students-explore-array-careers-national-grids-1st-suny-fair\" target=\"_blank\">National Grid’s SUNY Career Connections Day</a>, in which National Grid partnered with the State University of New York system to offer a first-ever SUNY career fair, welcoming 30 SUNY Oswego students to a half-day program in October."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/prodig.jpg",
          title: "Increasing the diversity of our faculty",
          teaser: "This past spring, SUNY Oswego’s <a href=\"https://www.oswego.edu/provost/prodig-fellowship\" target=\"_blank\">PRODiG</a> proposal was selected and commended by Dr. Teresa Miller, Senior Vice Chancellor for Strategic Initiatives at SUNY, when she wrote that our proposal was “... among the best I received ... and could serve as an exemplar for the entire SUNY system.”"
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/Students_staff_faculty_Orientation Leaders.jpg",
          title: "Extending our access to education in Syracuse",
          teaser: "Last year, our Syracuse campus experienced a 58% increase in undergraduate enrollments over the previous year. Overall facility usage for the year included: 95 credit courses with 349 undergraduate and 601 graduate enrollments, 8 non-credit classes with 182 enrollments and numerous events serving 4,439 people, resulting in a combined revenue of $1.23 million for the college."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/mandala.jpg",
          title: "Increasing community access to arts and culture",
          teaser: "SUNY Oswego proudly serves as a cultural and economic beacon for Oswego County. This past year, nearly 40,000 spectators attended SUNY Oswego athletic events and more than 10,000 attendees visited the college for art, theatre and music events."
        } %}
      </div>
    </div>
  </div>

  <div class="w-100 animate mv6">
    <div class="video--callout filter-darken">
      <div class="video__content absolute absolute--fill z-999 flex items-center">
        <p class="lh-solid gotham ttu db tc relative z-3 w-100 b">Community partnerships ensure <span class="blank tc">prosperity, social equity, innovation</span></p>
      </div>
      <iframe src="https://player.vimeo.com/video/388505673?background=1" width="640" height="256" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <section class="container">
    <div class="content-container">
      <h2>Commitment to community partnerships</h2>
      <p>Our commitment to serving, in a learning context, shapes the educational experience of our students, and has a broad impact on our community’s quality of life.</p>

    </div>
  </section>
  <div class="content-carousel mt4 mb6">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src: "images/20190510_education_kahn_065.jpg",
          title: "Engaging in the life of a teacher",
          teaser: "Each year, 15 to 19 new undergraduate student teacher candidates are recruited to participate in the Leighton-Fitzhugh Learning Community where each candidate spends 100+ hours during the semester actively participating in the school community and culture, assuming responsibilities typically delegated to student teachers and in-service teachers."
        } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/agtesting.jpg",
            title: "Closing an export loop in the regional economy",
            teaser: "Students continued to train and work at the Port of Oswego through the college’s Agriculture Testing and Analysis Labs, bringing the total trained to 53 students generating $122,132 in payroll. Faculty associated with the analysis labs are working to develop an Applied Agriculture Sciences Certificate credential that is industry-friendly and responsive to USDA testing compliance."
          } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/itsonoz.jpg",
          title: "Partnerships that promote health, safety and awareness",
          teaser: "In partnership with the greater community, SUNY Oswego delivered 140+ educational prevention programs to 6,000+ people related to sexual and interpersonal violence, It’s On Us days, One Love Escalation Programs, residence hall programs, consent workshops, Stalking Awareness Month, Domestic Violence Awareness Month and Sexual Assault Awareness Month."
        } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/mentorscholar.jpg",
            title: "Serving as Mentor-Scholars",
            teaser: "SUNY Oswego’s Mentor-Scholar program served eight school partners from four local school districts. In total, 149 college mentors provided 4,200 mentoring hours to 180 7–12 grade mentees. Over 190 people attended the annual recognition at SUNY Oswego and students from all eight partner sites participated in campus activities."
          } %}
      </div>
    </div>
  </div>

  <section class="container">
    <div class="content-container">
      <h2>Preparing the next generation of leaders</h2>
      <p>Funded by a generous gift from an Oswego alumnus, the college launched OzLeads Leadership Institute in 2015 to help students build upon their leadership potential through a year-long series of workshops, skill-based training sessions and keynote talks. The 2018–2019 cohort of 25 students participated in biweekly skill building workshops, networking meetings with Oswego alumni who shared their leadership stories with the aspiring group, and biweekly 1-on-1 sessions with a faculty or staff mentor.</p>
      <img src="images/ozleads.jpg" alt="">
      <p>The institute culminated with a site visit to Digital Hyve in Syracuse, a thriving and quickly growing start-up company that is owned and operated by Oswego alum Jeff Knauss. Jeff spent close to two hours with the cohort to share his leadership story and instill the importance that leaders play in the development of their organizations and their communities.</p>

    </div>
  </section>

</main>
