---
title: Students and Graduates
lede: At SUNY Oswego, our core is our students. We measure the success of the institution on how well we nurture, mentor, inspire, and prepare our students so that they may go on to live ethical and meaningful lives and build a better world as successful graduates.
layout: layouts/herolayout.njk
heroImage: images/hero.jpg
---

<main class="page">

  {% Section "container mt6 mb0" %}
  <h2 class="mb4">Recognizing and celebrating the exceptional work of our students and graduates</h2>
  <p class="mt0">Throughout the past year, our students were named SUNY Chancellor’s Award winners and Fulbright Scholars; competed in regional business competitions; and traveled to Hollywood to learn more about the film business and to Puerto Rico to pay it forward and serve those in need. Some of our students started their own businesses while others helped test and refine advanced anatomical medical training tools in Vietnam.</p>

  {% endSection %}
  {% FullSection "bg-gold pv5 mt5 mb6", "SUNY Oswego students & graduates are:" %}
  <div class="pv4 animate grid-3">
    {% Infographic {
        src: "images/ofodile_jennifer_20190315_0006h.jpg", 
        number: "Chancellor's Award Winners", 
        caption: "",
        link: "https://www.oswego.edu/news/story/suny-chancellors-awards-honor-4-students-oswego"
      }%}
    {% Infographic {
        src: "images/fulbright-us_kaefer_.jpg", 
        number: "Fulbright Scholars", 
        caption: "",
        link: "https://www.oswego.edu/news/story/oswego-named-top-producer-fulbright-us-student-awards"
      }%}
    {% Infographic {
        src: "images/arielgutman-gates_newmanfellow.jpg", 
        number: "Newman Civic Fellows", 
        caption: "",
        link: "https://www.oswego.edu/news/story/newman-fellow-carries-family-tradition-service"
      }%}
  </div>
  {% endFullSection %}

  {% Section "container" %}
  <h2>Engaging in applied learning</h2>
  <p>At SUNY Oswego, learning is not confined to just the classroom. Applied learning — an educational approach whereby students learn by engaging in direct application of skills, theories and models — affords students the opportunity to apply knowledge and skills gained from traditional classroom learning to hands-on and/or real world settings, creative projects or independent or directed research. Following are some applied learning initiatives our Oswego students have enjoyed this past year.</p>

  {% endSection %}

  <div class="content-carousel mt4 mb6 flex">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src: "images/launchit.jpg",
          title: "Launch It’ Business Plan Competition",
          video: "299278219",
          teaser: "SUNY Oswego's <a href=\"https://www.oswego.edu/news/story/student-entrepreneurs-launch-it-competition-vie-prizes-learn-about-process\" target=\"_blank\">Launch It competition</a>, now in its second year, provided opportunities for student teams to compete for seed money while learning more about the process of starting, funding and operating a business. Founded by the student business club Enactus, Launch It incentivizes innovation and invention within the students who seek to win the first-place $1,000 award."
        } %}
      </div>
      <div>
        {% ContentCard {
          src: "images/wtopsvgawards.jpg",
          title: "Winning Broadcasts",
          teaser: "SUNY Oswego’s student-run TV station WTOP <a href=\"https://www.oswego.edu/news/story/student-run-wtop-earns-national-broadcasting-awards\" target=\"_blank\">earned national recognition</a> in May 2019 at the Sports Video Group (SVG) College Summit in Atlanta.  Our students proudly took home two SVG College Sports Media Awards, both related to the coverage of Oswego - Plattsburgh men’s hockey games."
        } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/smartgarden.jpg",
            title: "Innovative Smart Garden",
            teaser: "The design and creation of a <a href=\"https://www.oswego.edu/news/story/engineering-students-creating-smart-garden-water-plants-precision\" target=\"_blank\">water and labor conserving Smart Garden</a> earned three senior electrical and computer engineering majors third place in the student poster competition at the 17th annual New York State Green Building Conference."
          } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/caseducationalleadership.jpg",
            title: "Oswego educational leadership grads: motivated, engaged and employed",
            teaser: "SUNY Oswego's program leading to a <a href=\"https://www.oswego.edu/news/story/oswego-educational-leadership-grads-motivated-engaged-and-employed\" target=\"_blank\">Certificate of Advanced Study (CAS) in educational leadership</a> continues to grow. Some 85 percent of 2018 participants in the CAS educational leadership program had jobs in school administration within the first two months of graduation."
          } %}
      </div>
      <div>
        {% ContentCard {
            src: "images/hollywoodpov-small.jpg",
            title: "Hollywood POV",
            teaser: "An annual program in the School of Communication, Media and the Arts took 16 students to Los Angeles to visit sites such as Nickelodeon Studios, 21st Century Fox Television, Paramount Studios, Warner Bros. Studios, CBS Television City, where they learned about directing, screenwriting, cinematography, editing, producing, sound design, audio engineering, and more."
          } %}
      </div>
    </div>
  </div>

  <div class="w-100 animate mv6">
    <div class="video--callout filter-darken">
      <div class="video__content absolute absolute--fill z-999 flex items-center">
        <p class="gotham ttu db tc relative z-3 w-100 b lh-solid">Our students <span class="blank db">Belong, Thrive, Succeed</span></p>
      </div>
      <iframe src="https://player.vimeo.com/video/388500780?background=1" width="640" height="256" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <section class="container">
    <div class="content-container">
      <h2>A culture of caring</h2>
      <p>The division of Student Affairs and Enrollment Management refocused its mission last year on addressing the needs of our students by helping each one develop the knowledge and resilience needed to respond to and overcome their individual challenges. Staff were repositioned as a “Care Network” charged with building pathways and connections for students to feel connected, valued, and aligned with the college to have the best experience possible.</p>

      <h2>Our classrooms are borderless</h2>
      <p>A SUNY Oswego education continues to transcend the traditional confines of the classroom and immerse students in cultures, landscapes, institutions, laboratories and workplaces around the globe. Last year, 414 SUNY Oswego students studied abroad in 33 different countries.</p>
    </div>
  </section>
  <div class="content-carousel mt4 mb6">
    <div class="carousel animate" data-target="carousel">
      <div>

        {% ContentCard {
            src: "images/i-love-pr.jpg",
            title: "SUNY stands with Puerto Rico",
            video: "316870648",
            starttime: "6.75",
            teaser: "Oswego’s Office of International Education Programs continued to support the <a href=\"https://www.oswego.edu/news/story/fresh-water-all-initiative-includes-puerto-rico-water-filter-project\" target=\"_blank\">SUNY Stands with Puerto Rico</a> service program during summer 2018 and winter 2019 by bringing approximately four dozen students, led by four faculty and staff members, to Puerto Rico to help rebuild infrastructure and provide fresh water filters to those in need."
          } %}
      </div>
      <div>
        <div class="content-card">
          <div class="content-card__image">
            <img src="images/diversityabroadaward.jpg" alt="">
          </div>
          <div class="pa4 content-card__content">
            <h3 class="mt0 f6">Excellence in Diversity and Inclusion Abroad</h3>
            <p class="f6">SUNY Oswego earned an <a href="https://www.oswego.edu/news/story/suny-oswego-wins-excellence-award-diversity-abroad" target="_blank">Excellence in Diversity and Inclusion in International Education (EDIIE) award</a> from Diversity Abroad. Among our contributing factors cited was the proportion of underrepresented students in our education abroad programs, our on-campus outreach and mentoring programs, and the involvement of many diverse and talented faculty members leading programs.</p>
          </div>
        </div>
      </div>
      <div>
        <div class="content-card">
          <div class="content-card__image">
            <img src="images/vietnamcourse@0,5x.jpg" alt="">
          </div>
          <div class="pa4 content-card__content">
            <h3 class="mt0 f6">Immersive experience in Vietnam</h3>
            <p class="f6">Seven SUNY Oswego Human Computer Interaction major students traveled overseas to Vietnam to help test and refine advanced anatomical medical training tools and immerse themselves in a new culture. Partnering with the Center for Visualization and Simulation of Duy Tan University, the students worked on training tools that will aid medical and other professionals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="container">
    <div class="content-container">
      <h2>Award-winning Alumni-In-Residence program</h2>
      <p>The Alumni-In-Residence (AIR) program brought back a record-breaking 314 accomplished Oswego alumni to campus to share their knowledge and career experiences with current students. The AIR program is a great point of pride for us, as it puts our alumni in front of current students, with benefits of career mentorship, networking and connections.</p>
    </div>
  </section>
  <div class="image-carousel mv4" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true, "pageDots": false }'>
    <img src="images/air/20180221_cornnell_0007_h.jpg" alt="">
    <img src="images/air/20191023_mediasummit_0161_h.jpg" alt="">
    <img src="images/air/20180221_demario_0010_h.jpg" alt="">
    <img src="images/air/20180418_Hannett_0002_h.jpg" alt="">
    <img src="images/air/20180427_bernstein_0007_h.jpg" alt="">
    <img src="images/air/20180921_alana_leadershippanel_0021_h.jpg" alt="">
    <img src="images/air/20190206_palumbo_0001_h.jpg" alt="">
    <img src="images/air/20191003_Garcia_0001_h.jpg" alt="">
    <img src="images/air/20190312_pearlman_air_0017_h.jpg" alt="">
    <img src="images/air/20190404_Bocko_0005_h.jpg" alt="">
    <img src="images/air/20190412_schultz_air_0001_h.jpg" alt="">
    <img src="images/air/20190417_mccabe_air_0010_h.jpg" alt="">
    <img src="images/air/20190426_taylor_air_0006_h.jpg" alt="">
    <img src="images/air/20190913_cooper_0013_h.jpg" alt="">
    <img src="images/air/20191023_mediasummit_careerconnectors_0177_h.jpg" alt="">
    <img src="images/air/20191023_mediasummit_careerconnectors_0181_h.jpg" alt="">
    <img src="images/air/20191030_upskillinginadigitalworld_0038_h.jpg" alt="">
    <img src="images/air/20191030_upskillinginadigitalworld_0050_h.jpg" alt="">
    <img src="images/air/20191030_upskillinginadigitalworld_0065_h.jpg" alt="">
  </div>
  <section class="container">
    <div class="content-container">
      <p>The alumni, including many board members and donors, spoke in classes and met informally with students and faculty. Additionally, a total of 122 students and GOLD alumni were connected to an alumni mentor through the Alumni Sharing Knowledge (ASK) program.</p>
    </div>
  </section>

</main>

<script>

  
</script>