.image-carousel {
  border-top: 5px solid $oswego-green;
  border-bottom: 5px solid $oswego-green;
  img {
    width: auto;
    height: 400px;
    width: 533px;
    object-fit: cover;
  }
  @media screen and (max-width: 533px) {
    img {
      height: 200px;
      width: 267px;
    }
  }
}

.content-carousel {
  overflow: hidden;
}
.carousel,
.carousel2 {
  width: 100%;
}

.carousel {
  & > div {
    &:nth-child(2) {
      animation-delay: 0.25s;
    }
    &:nth-child(3) {
      animation-delay: 0.5s;
    }
    &:nth-child(4) {
      animation-delay: 0.75s;
    }
    &:nth-child(5) {
      animation-delay: 1s;
    }
  }
}
