.content-card {
  width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  border: 1px solid #f2f2f2;
  h4 {
    @include f6;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &.is-selected {
    @include rounded;
    @include drop;
  }
  &__image {
    position: relative;
    img {
      height: 300px;
      object-fit: cover;
      display: block;
      margin: auto;
    }
    .play-video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.45);
      transition: background-color 0.5s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.75);
        transition: background-color 0.5s;
      }
    }
    .play-video-inner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      color: white;
      width: 100px;
      margin: auto;
      img {
        width: 66%;
        height: auto !important;
      }
    }
  }
  &__content {
    position: relative;
  }
  @media screen and (min-width: 800px) {
    flex-direction: row;
    width: 800px;
    &__image {
      width: 40%;
    }
    &__content {
      width: 60%;
    }
  }
  @media screen and (max-width: 350px) {
    width: 320px;
    &__image {
      img {
        height: 200px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .content-carousel {
    .flickity-prev-next-button.previous,
    .flickity-prev-next-button.next {
      top: 20%;
    }
  }
}
