.hamburger {
  position: relative;
  z-index: 99999;
}

header {
  @include shadow;
  z-index: 300;
  position: relative;
  a:focus {
    @include a11y-link-hover;
  }
  img {
    width: 150px;
  }
}

.hamburger:focus {
  @include a11y-link-hover;
}

.logo-link {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  max-width: 100%;
  padding: 2rem;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 200;
  padding-top: 6rem;

  @include drop;

  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  &.is-active {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .main-nav,
  .secondary-nav {
    a {
      color: $oswego-green;
      text-decoration: none;
      display: block;
    }
  }
  .secondary-nav {
    display: -webkit-box;
    display: flex;
    margin-bottom: 2rem;
    border: 1px solid darken(#fafafa, 5%);
    border-radius: 3px;
    .icon {
      width: 24px;
      height: 24px;
      margin-bottom: 0.5rem;
      color: $oswego-green;
    }
    li {
      display: block;
      width: 100%;
      text-align: center;
      border-right: 1px solid darken(#fafafa, 5%);
      &:last-child {
        border-right: none;
      }
    }
    a {
      display: block;
      width: 100%;
      @include f7;
    }
  }
}
