button.video-controls {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.25rem 0.5rem;
  z-index: 1000;
  margin: 0;
  background: white;
  border: 0;
  color: black;
  &:focus {
    color: black;
  }
}

.hero {
  // background-color: #fafafa;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='1600' viewBox='0 0 50 4000'%3E%3Cg fill='%23FFF'%3E%3Ccircle cx='25' cy='2226' r='24'/%3E%3Ccircle cx='25' cy='2176' r='23'/%3E%3Ccircle cx='25' cy='2126' r='22'/%3E%3Ccircle cx='25' cy='2076' r='21'/%3E%3Ccircle cx='25' cy='2026' r='20'/%3E%3Ccircle cx='25' cy='1976' r='19'/%3E%3Ccircle cx='25' cy='1926' r='18'/%3E%3Ccircle cx='25' cy='1876' r='17'/%3E%3Ccircle cx='25' cy='1826' r='16'/%3E%3Ccircle cx='25' cy='1776' r='15'/%3E%3Ccircle cx='25' cy='1726' r='14'/%3E%3Ccircle cx='25' cy='1676' r='13'/%3E%3Ccircle cx='25' cy='1626' r='12'/%3E%3Ccircle cx='25' cy='1576' r='11'/%3E%3Ccircle cx='25' cy='1526' r='10'/%3E%3Ccircle cx='25' cy='1476' r='9'/%3E%3Ccircle cx='25' cy='1426' r='8'/%3E%3Ccircle cx='25' cy='1376' r='7'/%3E%3Ccircle cx='25' cy='1326' r='6'/%3E%3Ccircle cx='25' cy='1276' r='5'/%3E%3Ccircle cx='25' cy='1226' r='4'/%3E%3Ccircle cx='25' cy='1176' r='3'/%3E%3Ccircle cx='25' cy='1126' r='2'/%3E%3Ccircle cx='25' cy='1076' r='1'/%3E%3Ccircle cx='50' cy='2201' r='24'/%3E%3Ccircle cx='50' cy='2151' r='23'/%3E%3Ccircle cx='50' cy='2101' r='22'/%3E%3Ccircle cx='50' cy='2051' r='21'/%3E%3Ccircle cx='50' cy='2001' r='20'/%3E%3Ccircle cx='50' cy='1951' r='19'/%3E%3Ccircle cx='50' cy='1901' r='18'/%3E%3Ccircle cx='50' cy='1851' r='17'/%3E%3Ccircle cx='50' cy='1801' r='16'/%3E%3Ccircle cx='50' cy='1751' r='15'/%3E%3Ccircle cx='50' cy='1701' r='14'/%3E%3Ccircle cx='50' cy='1651' r='13'/%3E%3Ccircle cx='50' cy='1601' r='12'/%3E%3Ccircle cx='50' cy='1551' r='11'/%3E%3Ccircle cx='50' cy='1501' r='10'/%3E%3Ccircle cx='50' cy='1451' r='9'/%3E%3Ccircle cx='50' cy='1401' r='8'/%3E%3Ccircle cx='50' cy='1351' r='7'/%3E%3Ccircle cx='50' cy='1301' r='6'/%3E%3Ccircle cx='50' cy='1251' r='5'/%3E%3Ccircle cx='50' cy='1201' r='4'/%3E%3Ccircle cx='50' cy='1151' r='3'/%3E%3Ccircle cx='50' cy='1101' r='2'/%3E%3Ccircle cx='50' cy='1051' r='1'/%3E%3Ccircle cx='0' cy='2201' r='24'/%3E%3Ccircle cx='0' cy='2151' r='23'/%3E%3Ccircle cx='0' cy='2101' r='22'/%3E%3Ccircle cx='0' cy='2051' r='21'/%3E%3Ccircle cx='0' cy='2001' r='20'/%3E%3Ccircle cx='0' cy='1951' r='19'/%3E%3Ccircle cx='0' cy='1901' r='18'/%3E%3Ccircle cx='0' cy='1851' r='17'/%3E%3Ccircle cx='0' cy='1801' r='16'/%3E%3Ccircle cx='0' cy='1751' r='15'/%3E%3Ccircle cx='0' cy='1701' r='14'/%3E%3Ccircle cx='0' cy='1651' r='13'/%3E%3Ccircle cx='0' cy='1601' r='12'/%3E%3Ccircle cx='0' cy='1551' r='11'/%3E%3Ccircle cx='0' cy='1501' r='10'/%3E%3Ccircle cx='0' cy='1451' r='9'/%3E%3Ccircle cx='0' cy='1401' r='8'/%3E%3Ccircle cx='0' cy='1351' r='7'/%3E%3Ccircle cx='0' cy='1301' r='6'/%3E%3Ccircle cx='0' cy='1251' r='5'/%3E%3Ccircle cx='0' cy='1201' r='4'/%3E%3Ccircle cx='0' cy='1151' r='3'/%3E%3Ccircle cx='0' cy='1101' r='2'/%3E%3Ccircle cx='0' cy='1051' r='1'/%3E%3Crect x='-10' y='2212' width='70' height='1788'/%3E%3C/g%3E%3C/svg%3E");
  background-color: #1c472c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231b452b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231a432a' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%231a4128' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23193f27' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23183d26' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231a4229' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231c482d' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231f4e30' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23215334' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23235937' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-size: cover;
  color: white;
}

.hero--circles {
  // background-color: #f2f2f2;
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1208' height='1208' viewBox='0 0 800 800'%3E%3Cpath fill='%23bfc7c3' fill-opacity='.4' d='M619.1%2C642.1c12.9-8.4%2C24.9-18.2%2C35.9-29.3c47.5-48.5%2C86.7-116.3%2C90.8-185.1c1.6-26.2-1.7-52.5-9.5-77.4 c-42.4-136.6-187.1-210.6-316.5-239.5C350.5%2C95.3%2C286.2%2C91%2C218%2C118.5c-35.6%2C14.4-67.8%2C36.8-93.9%2C64.9 C96%2C213.7%2C77.7%2C250.9%2C55.5%2C285.3c-12.1%2C18.8-24.3%2C38.8-24.5%2C61.9c-0.2%2C17.9%2C7%2C22.6%2C19.3%2C33.9c14%2C12.8%2C25.4%2C28.3%2C33.1%2C45.8 c16.1%2C36.5%2C15.6%2C78.2%2C27.2%2C116.4c16.4%2C54.1%2C57.2%2C99%2C106%2C125.9s73.1%2C26.3%2C144.3%2C19.2c43.3-4.3%2C86.8%2C1.2%2C129.8-3.3 C535.7%2C680.4%2C581%2C667%2C619.1%2C642.1z'/%3E%3Cpath fill='%2396ab9f' fill-opacity='.4' d='M254.1%2C143.5c-29.4%2C12.6-56.6%2C30.1-79.8%2C51.8c-87.9%2C82.3-99.8%2C209-92%2C322.5c3.5%2C50.9%2C21.6%2C104.6%2C63.7%2C133.4 c31.3%2C21.4%2C70.2%2C25.4%2C107%2C24.9c38.3-0.5%2C77.4-0.8%2C115.3-6.8c46.9-7.5%2C92.1-21.9%2C137.5-35.2c79-23.1%2C160.2-54.8%2C212-118.7 c47.2-58.1%2C62.5-139.7%2C42.4-211.5c-18.4-65.5-84.8-73.7-146.5-97.3c-68.6-26.2-130-67.3-201.6-81 C359%2C115.1%2C303.4%2C122.4%2C254.1%2C143.5z'/%3E%3Cpath fill='%236e8f7c' fill-opacity='.4' d='M656.6%2C302.5c-35.5-58.4-109.1-169.2-181.7-195.9C315.1%2C47.7%2C136.5%2C158%2C77%2C281.9 C3.3%2C435.3%2C116.6%2C600.3%2C294%2C658.6c94.9%2C31.2%2C256.9%2C27.6%2C319.4-45.2C686.7%2C527.9%2C720.2%2C407.3%2C656.6%2C302.5z'/%3E%3Cpath fill='%23497459' fill-opacity='.4' d='M720.5%2C362.4c-14.1-50.8-48.8-94.5-91.7-125.2c-93-66.6-222.1-84.4-333.5-82.5 c-44.7%2C0.8-76.9%2C19.2-104.5%2C54.8c-47.5%2C61.3-64.4%2C147.7-66.5%2C223.6c-0.1%2C4.8-0.2%2C9.5-0.1%2C14.3c1.5%2C149.2%2C183.4%2C288.5%2C267.9%2C258.1 c54.4-19.5%2C77.2-77.7%2C129.4-102.8c51.2-24.7%2C109.8-32.8%2C155.2-69.1c47.3-37.8%2C59.3-114.7%2C44.2-170.2 C720.7%2C363%2C720.6%2C362.7%2C720.5%2C362.4z'/%3E%3Cpath fill='%23235937' fill-opacity='.4' d='M437.1%2C617.9c30.3-16.2%2C59.4-34.2%2C91.7-47.6C573%2C552%2C627.3%2C547.9%2C656%2C508.5c25.6-35.1%2C30.3-90.1%2C8.3-145.3 c-47.3-118.8-162-161.6-258.6-183.4c-91.3-20.6-165.3-16.3-209.5%2C50.7c-52.8%2C79.9-108.1%2C315.7%2C70.2%2C401.3 c55.2%2C26.5%2C108.1%2C17%2C149.6-3.2C423.2%2C625.2%2C430.2%2C621.5%2C437.1%2C617.9z'/%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero__image {
  transition-delay: 1s;
  img {
    //height: calc(100vh - 6rem);
    object-fit: cover;
    max-height: 100%;
  }
}
.hero__container {
  @media screen and (min-width: 900px) {
    display: flex;
    align-items: center;
    .hero__image {
      width: 45%;
    }
    .hero__content {
      width: 55%;
    }
  }
  @media screen and (min-width: 1150px) {
    display: flex;
    align-items: center;
    .hero__image {
      width: 55%;
    }
    .hero__content {
      width: 45%;
    }
  }
}

// Homepage hero
.hero-content {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  padding-bottom: 2rem;
  z-index: 3;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;

  .blank {
    text-align: right;
    display: inline-block;
    width: 150px;
  }

  .main-heading {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 0rem;
    padding-bottom: 0rem;
    position: relative;
    line-height: 1;
  }

  @media screen and (min-width: 768px) {
    padding-bottom: 4rem;
    .blank {
      width: 260px;
    }
    .main-heading {
      margin-bottom: 2rem;
      font-size: 4.25rem;
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
      line-height: 1;
      font-family: $whitney;
    }
    .sub-heading {
      margin-top: 1.5rem;
      font-size: 2.75rem;
    }
  }
}

.hero__columns {
  transition-delay: 0.5s;
}
.hero__content {
  width: 100%;
}
.hero__title {
  font-family: $gotham;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 4px;
    width: 75px;
    background: $oswego-gold;
  }
}
