.infographic {
  transition: all 0.5s;
  opacity: 1;
  background-color: black;
  cursor: pointer;
  width: 100%;
  & > div {
    overflow: hidden;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/admissions1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    color: white !important;
    position: relative;
    @media screen and (max-width: 350px) {
      height: 200px;
    }
    &::after {
      content: "";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      background: rgba(0, 0, 0, 0.45);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      position: absolute;
      transition: all 0.5s;
    }
    p {
      //max-width: 60%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 3;
      text-shadow: 1px 1px black;
      transform: translateY(0);
      transition: all 0.25s;
    }
    & > div {
      width: 100%;
    }
    .button {
      position: absolute;
      z-index: 3;
      margin-right: auto;
      margin-left: auto;
      margin-top: 1rem;
      left: 1rem;
      right: 1rem;
      bottom: 1rem;
      transform: translateY(100px);
      transition: all 0.5s;
      box-shadow: none;
      max-width: 175px;
      &:hover {
        box-shadow: none;
      }
    }
    &:hover {
      p {
        transform: translateY(-32px);
      }
      &::after {
        background: rgba(0, 0, 0, 0.5);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.75) 25%,
          rgba(255, 255, 255, 0) 100%
        );
        transition: all 0.25s;
      }
      .button {
        transform: translateY(0);
        transition: all 0.25s;
        transition-delay: 0.15s;
      }
    }
  }
  text-align: center;
  &:nth-child(1) {
    & > div {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/admissions1.jpg");
    }

    animation-delay: 0s;
  }

  &:nth-child(2) {
    & > div {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/business1.jpg");
    }

    animation-delay: 0.25s;
  }

  &:nth-child(3) {
    & > div {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/sunset1.jpg");
    }

    animation-delay: 0.5s;
  }

  &:nth-child(4) {
    & > div {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/shinemanhdr.jpg");
    }

    animation-delay: 0.75s;
  }

  &:nth-child(5) {
    & > div {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/maranohdr.jpg");
    }

    animation-delay: 1s;
  }

  &:nth-child(6) {
    & > div {
      background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/maranohdr.jpg");
    }
    .center {
      animation-delay: 1.25s;
    }
  }
  .center {
    padding: 2rem;
    border-radius: 3px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    background-color: #000;
  }

  .infographic:nth-child(1) {
    animation-delay: 0s;
  }

  &.hide {
    transition: all 0.5s;
    opacity: 0;
  }
}
