.mini-block {
  text-decoration: none;
  color: black;
  background: white;
  transition: all .5s;
  border: 2px solid white;
  &:first-child {
    border-radius: 3px 0 0 3px;
  }
  &:last-child {
    border-radius: 0 3px 3px 0;
  }
  &:hover {
    border: 2px solid darken(#ffcc33, 2.5%);
    background: #ffcc33;
    transition: all .25s;
    @include shadow();
  }
}