@mixin f0 {
  font-size: 3.5rem;
}

@mixin f1 {
  font-size: 2.75rem;
}

@mixin f2 {
  font-size: 2rem;
}

@mixin f3 {
  font-size: 1.5rem;
}

@mixin f4 {
  font-size: 1.25rem;
}

@mixin f5 {
  font-size: 1rem;
}

@mixin f6 {
  font-size: 0.875rem;
}

@mixin f7 {
  font-size: 0.75rem;
}

@mixin f8 {
  font-size: 0.65rem;
}

.f0 {
  @include f0;
}

h1,
.f1 {
  //
  @include f1;
  // color: inherit;
}

h2,
.f2 {
  @include f2;
}

h3,
.f3 {
  @include f3;
}

h4,
.f4 {
  @include f4;
}

h5,
.f5 {
  @include f5;
}

h6,
.f6 {
  @include f6;
}

.f7 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin-bottom: 0.5rem;
  font-family: $gotham;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

@mixin shadow() {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

@mixin rounded {
  border-radius: 3px;
}

@mixin drop {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

@mixin button(
  $bg: lighten($near-white, 5%),
  $color: $oswego-green,
  $hoverBg: $gray-lightest,
  $hoverColor: $oswego-green,
  $border: $oswego-green
) {
  display: inline-block;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid $border;
  padding: 0.75rem 1.5rem;
  color: $color;
  background: $bg;
  // margin-right: 1rem;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;

  @include drop;
  @include rounded;

  &:hover {
    color: $hoverColor;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
    background: $hoverBg;
  }

  &:active {
    box-shadow: none;
  }

  &:focus {
    outline: 2px solid $oswego-gold;
    color: white;
  }
}

@mixin a11y-link-hover {
  outline: 3px solid $oswego-green;
}
