p,
li {
  line-height: 1.65;
  //  max-width: 60ch;
}

blockquote {
  font-size: 2rem;
  width: 400px;
}

.intro p:first-child:first-letter {
  color: $oswego-green;
  float: left;
  font-family: $whitney;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: bold;
}

.white {
  color: white;
}

.typed-text {
  font-family: $mercury;
  text-shadow: 2px 2px 5px black;
}
.type-text {
  width: 600px;
  //text-align: left;
  border-bottom: 3px solid $oswego-gold;
  display: inline-block;
  color: $oswego-gold;
  text-shadow: 1px 1px black;
}

.columns-2 {
  columns: auto 60ch;
  -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 2rem; /* Firefox */
  column-gap: 2rem;
}

h2 {
  margin-top: 4rem;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background: #fc3;
    border-radius: 50%;
    top: -1rem;
    left: -1rem;
    z-index: -1;
  }
}

h3 {
  margin-top: 4rem;
  position: relative;
  // &::before {
  //   position: absolute;
  //   content: "";
  //   width: 50px;
  //   height: 50px;
  //   background: #fc3;
  //   border-radius: 50%;
  //   top: -1rem;
  //   left: -1rem;
  //   z-index: -1;
  // }
}
