.bg-lg {
  background: #efefef;
}
.purple {
  color: #4a4e8b;
}
.orange {
  color: #cf8422;
}
.blue {
  color: #2683b5;
}
.green {
  color: #235937;
}
.yellow {
  color: #bc8d00;
}

.rounded {
  border-radius: 5px;
}

@mixin grid {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 1rem;
  &.np {
    padding: 0;
  }
}
.grid-2 {
  @include grid;
  @media screen and (min-width: 630px) {
    grid-template-columns: 1fr 1fr;
  }
}
.grid-3 {
  @include grid;
  @media screen and (min-width: 630px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-4 {
  @include grid;
  @media screen and (min-width: 630px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.wave-bg {
  background-color: #1c472c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231b452b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231a432a' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%231a4128' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23193f27' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23183d26' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231a4229' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231c482d' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231f4e30' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23215334' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23235937' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  // background-attachment: fixed;
  background-size: cover;
  color: white;
  a:not(.button) {
    color: #fc3;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  margin: 4rem 0;
}
.bg-gold {
  background-color: #ffcc33;
}

.page-transition-1 {
  //  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='200' viewBox='0 0 1600 200'%3E%3Cpath fill='%23ffcc33' d='M1610 0H-10v100h390c91.4 0 254.2-80 420-80s328.6 80 420 80h390V0z'/%3E%3C/svg%3E");
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 200px;
  background-position: top center;
}

.page-transition-2-in {
  height: 40px;
  background-color: #ffcc33;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='40' viewBox='0 0 1600 100'%3E%3Cpath fill='%23ffffff' d='M0 100 0 0 1600 0Z'/%3E%3C/svg%3E");
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 40px;
  background-position: top center;
}

.page-transition-2-out {
  height: 40px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='40' viewBox='0 0 1600 100'%3E%3Cpath fill='%23ffcc33' d='M0 100 0 0 1600 0Z'/%3E%3C/svg%3E");
  //background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 40px;
  background-position: top center;
}
.hide {
  opacity: 0;
  transition: all 0.25s;
}
.callout-bg {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3Cfilter id='a' x='-200%25' y='-200%25' width='400%25' height='400%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='50'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='%23b6a634'%3E%3Cpolygon points='-203 1800 -203 -900 397 450'/%3E%3Cpolygon points='1803 -900 1803 1800 1203 450'/%3E%3C/g%3E%3Cg fill='%23ffcc33' filter='url(%23a)'%3E%3Cpolygon points='-203 1581 -203 -681 300 450'/%3E%3Cpolygon points='1803 -681 1803 1581 1300 450'/%3E%3C/g%3E%3Cg fill='%236c7f36'%3E%3Cpolygon points='-203 1581 -203 -681 300 450'/%3E%3Cpolygon points='1803 -681 1803 1581 1300 450'/%3E%3C/g%3E%3Cg fill='%23235937'%3E%3Cpolygon points='-203 1356 -203 -456 200 450'/%3E%3Cpolygon points='1803 -456 1803 1356 1400 450'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 50%;
  background-size: cover;
}

.oswego-gold {
  color: #ffcc33;
}

.whitney {
  font-family: $whitney;
}

.gotham {
  font-family: $gotham;
}

.filter-darken {
  color: white;
  position: relative;
}

.filter-darken:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.filter-darken .btn-arrow {
  color: white;
}

.filter-darken .btn-arrow:after {
  color: white;
}

.filter-darken .btn-arrow:hover {
  color: white;
}

.filter-darken .btn-arrow:hover:after {
  color: white;
}
