$white: white;
$near-white: #f2f2f2;
$gray-lightest: #e5e5e5;
$gray-lighter: #ccc;
$gray-light: #999;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$black: black;
$oswego-green: #235937;
$oswego-gold: #fc3;

$whitney: "Whitney SSm A", "Whitney SSm B";
$mercury: "Mercury SSm A", "Mercury SSm B", serif;
$gotham: "Gotham SSm A", "Gotham SSm B";
