@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.3/hamburgers.min.css");
.f0 {
  font-size: 3.5rem;
}

h1,
.f1 {
  font-size: 2.75rem;
}

h2,
.f2 {
  font-size: 2rem;
}

h3,
.f3 {
  font-size: 1.5rem;
}

h4,
.f4 {
  font-size: 1.25rem;
}

h5,
.f5 {
  font-size: 1rem;
}

h6,
.f6 {
  font-size: 0.875rem;
}

.f7 {
  font-size: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin-bottom: 0.5rem;
  font-family: "Gotham SSm A", "Gotham SSm B";
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
}

.hamburger {
  position: relative;
  z-index: 99999;
}

header {
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  z-index: 300;
  position: relative;
}
header a:focus {
  outline: 3px solid #235937;
}
header img {
  width: 150px;
}

.hamburger:focus {
  outline: 3px solid #235937;
}

.logo-link {
  box-shadow: none;
}
.logo-link:hover {
  box-shadow: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 400px;
  max-width: 100%;
  padding: 2rem;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 200;
  padding-top: 6rem;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
nav.is-active {
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav .main-nav a,
nav .secondary-nav a {
  color: #235937;
  text-decoration: none;
  display: block;
}
nav .secondary-nav {
  display: -webkit-box;
  display: flex;
  margin-bottom: 2rem;
  border: 1px solid #ededed;
  border-radius: 3px;
}
nav .secondary-nav .icon {
  width: 24px;
  height: 24px;
  margin-bottom: 0.5rem;
  color: #235937;
}
nav .secondary-nav li {
  display: block;
  width: 100%;
  text-align: center;
  border-right: 1px solid #ededed;
}
nav .secondary-nav li:last-child {
  border-right: none;
}
nav .secondary-nav a {
  display: block;
  width: 100%;
  font-size: 0.75rem;
}

.lede {
  width: 100%;
  max-width: none;
}

.flip-in-hor-bottom {
  -webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.fade-in-fwd {
  -webkit-animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-delay: 0.5s;
}

.bg-anim {
  animation: bg-anim 5s;
}

@keyframes bg-anim {
  0% {
    background-size: 200%;
  }
  50% {
    background-size: 125%;
  }
  100% {
    background-size: 125%;
  }
}
@media screen and (max-width: 1080px) {
  @keyframes bg-anim {
    0% {
      background-size: 200%;
    }
    50% {
      background-size: 150%;
    }
    100% {
      background-size: 150%;
    }
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-29 11:40:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-4-17 10:3:33
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
.infographic {
  transition: all 0.5s;
  opacity: 1;
  background-color: black;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.infographic > div {
  overflow: hidden;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/admissions1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  color: white !important;
  position: relative;
}
@media screen and (max-width: 350px) {
  .infographic > div {
    height: 200px;
  }
}
.infographic > div::after {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.45);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  transition: all 0.5s;
}
.infographic > div p {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 3;
  text-shadow: 1px 1px black;
  transform: translateY(0);
  transition: all 0.25s;
}
.infographic > div > div {
  width: 100%;
}
.infographic > div .button {
  position: absolute;
  z-index: 3;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  transform: translateY(100px);
  transition: all 0.5s;
  box-shadow: none;
  max-width: 175px;
}
.infographic > div .button:hover {
  box-shadow: none;
}
.infographic > div:hover p {
  transform: translateY(-32px);
}
.infographic > div:hover::after {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
  transition: all 0.25s;
}
.infographic > div:hover .button {
  transform: translateY(0);
  transition: all 0.25s;
  transition-delay: 0.15s;
}
.infographic:nth-child(1) {
  animation-delay: 0s;
}
.infographic:nth-child(1) > div {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/admissions1.jpg");
}
.infographic:nth-child(2) {
  animation-delay: 0.25s;
}
.infographic:nth-child(2) > div {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/business1.jpg");
}
.infographic:nth-child(3) {
  animation-delay: 0.5s;
}
.infographic:nth-child(3) > div {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/sunset1.jpg");
}
.infographic:nth-child(4) {
  animation-delay: 0.75s;
}
.infographic:nth-child(4) > div {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/shinemanhdr.jpg");
}
.infographic:nth-child(5) {
  animation-delay: 1s;
}
.infographic:nth-child(5) > div {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/maranohdr.jpg");
}
.infographic:nth-child(6) > div {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2102402/maranohdr.jpg");
}
.infographic:nth-child(6) .center {
  animation-delay: 1.25s;
}
.infographic .center {
  padding: 2rem;
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  background-color: #000;
}
.infographic .infographic:nth-child(1) {
  animation-delay: 0s;
}
.infographic.hide {
  transition: all 0.5s;
  opacity: 0;
}

button.video-controls {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.25rem 0.5rem;
  z-index: 1000;
  margin: 0;
  background: white;
  border: 0;
  color: black;
}
button.video-controls:focus {
  color: black;
}

.hero {
  background-color: #1c472c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231b452b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231a432a' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%231a4128' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23193f27' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23183d26' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231a4229' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231c482d' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231f4e30' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23215334' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23235937' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  color: white;
}

.hero--circles {
  background-repeat: no-repeat;
}

.hero__image {
  transition-delay: 1s;
}
.hero__image img {
  object-fit: cover;
  max-height: 100%;
}

@media screen and (min-width: 900px) {
  .hero__container {
    display: flex;
    align-items: center;
  }
  .hero__container .hero__image {
    width: 45%;
  }
  .hero__container .hero__content {
    width: 55%;
  }
}
@media screen and (min-width: 1150px) {
  .hero__container {
    display: flex;
    align-items: center;
  }
  .hero__container .hero__image {
    width: 55%;
  }
  .hero__container .hero__content {
    width: 45%;
  }
}

.hero-content {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  padding-bottom: 2rem;
  z-index: 3;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.hero-content .blank {
  text-align: right;
  display: inline-block;
  width: 150px;
}
.hero-content .main-heading {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 0rem;
  padding-bottom: 0rem;
  position: relative;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .hero-content {
    padding-bottom: 4rem;
  }
  .hero-content .blank {
    width: 260px;
  }
  .hero-content .main-heading {
    margin-bottom: 2rem;
    font-size: 4.25rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1;
    font-family: "Whitney SSm A", "Whitney SSm B";
  }
  .hero-content .sub-heading {
    margin-top: 1.5rem;
    font-size: 2.75rem;
  }
}

.hero__columns {
  transition-delay: 0.5s;
}

.hero__content {
  width: 100%;
}

.hero__title {
  font-family: "Gotham SSm A", "Gotham SSm B";
  position: relative;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.hero__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 4px;
  width: 75px;
  background: #fc3;
}

p,
li {
  line-height: 1.65;
}

blockquote {
  font-size: 2rem;
  width: 400px;
}

.intro p:first-child:first-letter {
  color: #235937;
  float: left;
  font-family: "Whitney SSm A", "Whitney SSm B";
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  font-weight: bold;
}

.white {
  color: white;
}

.typed-text {
  font-family: "Mercury SSm A", "Mercury SSm B", serif;
  text-shadow: 2px 2px 5px black;
}

.type-text {
  width: 600px;
  border-bottom: 3px solid #fc3;
  display: inline-block;
  color: #fc3;
  text-shadow: 1px 1px black;
}

.columns-2 {
  columns: auto 60ch;
  -webkit-column-gap: 2rem;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 2rem;
  /* Firefox */
  column-gap: 2rem;
}

h2 {
  margin-top: 4rem;
  position: relative;
}
h2::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background: #fc3;
  border-radius: 50%;
  top: -1rem;
  left: -1rem;
  z-index: -1;
}

h3 {
  margin-top: 4rem;
  position: relative;
}

.mini-block {
  text-decoration: none;
  color: black;
  background: white;
  transition: all 0.5s;
  border: 2px solid white;
}
.mini-block:first-child {
  border-radius: 3px 0 0 3px;
}
.mini-block:last-child {
  border-radius: 0 3px 3px 0;
}
.mini-block:hover {
  border: 2px solid #ffc926;
  background: #ffcc33;
  transition: all 0.25s;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}

.content-card {
  width: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1rem;
  border: 1px solid #f2f2f2;
}
.content-card h4 {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.content-card.is-selected {
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
}
.content-card__image {
  position: relative;
}
.content-card__image img {
  height: 300px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.content-card__image .play-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.45);
  transition: background-color 0.5s;
}
.content-card__image .play-video:hover {
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s;
}
.content-card__image .play-video-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  width: 100px;
  margin: auto;
}
.content-card__image .play-video-inner img {
  width: 66%;
  height: auto !important;
}
.content-card__content {
  position: relative;
}
@media screen and (min-width: 800px) {
  .content-card {
    flex-direction: row;
    width: 800px;
  }
  .content-card__image {
    width: 40%;
  }
  .content-card__content {
    width: 60%;
  }
}
@media screen and (max-width: 350px) {
  .content-card {
    width: 320px;
  }
  .content-card__image img {
    height: 200px;
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .content-carousel .flickity-prev-next-button.previous,
.content-carousel .flickity-prev-next-button.next {
    top: 20%;
  }
}
.image-carousel {
  border-top: 5px solid #235937;
  border-bottom: 5px solid #235937;
}
.image-carousel img {
  width: auto;
  height: 400px;
  width: 533px;
  object-fit: cover;
}
@media screen and (max-width: 533px) {
  .image-carousel img {
    height: 200px;
    width: 267px;
  }
}

.content-carousel {
  overflow: hidden;
}

.carousel,
.carousel2 {
  width: 100%;
}

.carousel > div:nth-child(2) {
  animation-delay: 0.25s;
}
.carousel > div:nth-child(3) {
  animation-delay: 0.5s;
}
.carousel > div:nth-child(4) {
  animation-delay: 0.75s;
}
.carousel > div:nth-child(5) {
  animation-delay: 1s;
}

.bg-lg {
  background: #efefef;
}

.purple {
  color: #4a4e8b;
}

.orange {
  color: #cf8422;
}

.blue {
  color: #2683b5;
}

.green {
  color: #235937;
}

.yellow {
  color: #bc8d00;
}

.rounded {
  border-radius: 5px;
}

.grid-2 {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 1rem;
}
.grid-2.np {
  padding: 0;
}
@media screen and (min-width: 630px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-3 {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 1rem;
}
.grid-3.np {
  padding: 0;
}
@media screen and (min-width: 630px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 800px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-4 {
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 1rem;
}
.grid-4.np {
  padding: 0;
}
@media screen and (min-width: 630px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.wave-bg {
  background-color: #1c472c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231b452b' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231a432a' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%231a4128' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23193f27' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23183d26' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%231a4229' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%231c482d' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%231f4e30' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23215334' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23235937' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  color: white;
}
.wave-bg a:not(.button) {
  color: #fc3;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  margin: 4rem 0;
}

.bg-gold {
  background-color: #ffcc33;
}

.page-transition-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='200' viewBox='0 0 1600 200'%3E%3Cpath fill='%23ffcc33' d='M1610 0H-10v100h390c91.4 0 254.2-80 420-80s328.6 80 420 80h390V0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 200px;
  background-position: top center;
}

.page-transition-2-in {
  height: 40px;
  background-color: #ffcc33;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='40' viewBox='0 0 1600 100'%3E%3Cpath fill='%23ffffff' d='M0 100 0 0 1600 0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 40px;
  background-position: top center;
}

.page-transition-2-out {
  height: 40px;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' width='100%25' height='40' viewBox='0 0 1600 100'%3E%3Cpath fill='%23ffcc33' d='M0 100 0 0 1600 0Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 100% 40px;
  background-position: top center;
}

.hide {
  opacity: 0;
  transition: all 0.25s;
}

.callout-bg {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3Cfilter id='a' x='-200%25' y='-200%25' width='400%25' height='400%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='50'/%3E%3C/filter%3E%3C/defs%3E%3Cg fill='%23b6a634'%3E%3Cpolygon points='-203 1800 -203 -900 397 450'/%3E%3Cpolygon points='1803 -900 1803 1800 1203 450'/%3E%3C/g%3E%3Cg fill='%23ffcc33' filter='url(%23a)'%3E%3Cpolygon points='-203 1581 -203 -681 300 450'/%3E%3Cpolygon points='1803 -681 1803 1581 1300 450'/%3E%3C/g%3E%3Cg fill='%236c7f36'%3E%3Cpolygon points='-203 1581 -203 -681 300 450'/%3E%3Cpolygon points='1803 -681 1803 1581 1300 450'/%3E%3C/g%3E%3Cg fill='%23235937'%3E%3Cpolygon points='-203 1356 -203 -456 200 450'/%3E%3Cpolygon points='1803 -456 1803 1356 1400 450'/%3E%3C/g%3E%3C/svg%3E");
  background-position: 50%;
  background-size: cover;
}

.oswego-gold {
  color: #ffcc33;
}

.whitney {
  font-family: "Whitney SSm A", "Whitney SSm B";
}

.gotham {
  font-family: "Gotham SSm A", "Gotham SSm B";
}

.filter-darken {
  color: white;
  position: relative;
}

.filter-darken:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.25);
}

.filter-darken .btn-arrow {
  color: white;
}

.filter-darken .btn-arrow:after {
  color: white;
}

.filter-darken .btn-arrow:hover {
  color: white;
}

.filter-darken .btn-arrow:hover:after {
  color: white;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */
#video-modals {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.9);
  padding: 4rem;
}
#video-modals.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#video-modals .close-modal {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  padding: 1rem;
  background: transparent;
  border: none;
}
#video-modals [data-vimeo-id] {
  opacity: 0;
  display: none;
}
#video-modals [data-vimeo-id].show {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  opacity: 1;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -2px 0 #fc3;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
a:hover {
  box-shadow: inset 0 -6px 0 #fc3;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

li {
  margin-bottom: 0.5rem;
}

.homepage-hero {
  position: relative;
  width: 100%;
  background-image: url(../img/ar-hero.jpg);
  background-size: cover;
  background-position: top;
  background-color: black;
  height: 65vh;
}
.homepage-hero .blank.paused {
  width: 100%;
  text-align: center;
}
.homepage-hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #f4f4f4;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.75)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (min-width: 800px) {
  .homepage-hero {
    height: 90vh;
  }
}

.intro {
  font-size: 1.5rem;
  max-width: 875px;
  position: relative;
  z-index: 1;
  margin: auto;
}

.home-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 0 1rem;
}
@media screen and (min-width: 800px) {
  .home-grid {
    max-width: 800px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .home-grid {
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.home-grid .infographic {
  width: 100%;
  max-width: 420px;
  margin: auto;
}

.spotlight-container {
  background: #2f2f2f;
  color: white;
  padding: 0;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.spotlight {
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.spotlight__video {
  width: 75%;
}

.spotlight__content {
  width: 25%;
  padding: 2rem;
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #235937;
  padding: 0.75rem 1.5rem;
  color: #235937;
  background: white;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.button:hover {
  color: #235937;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.25);
  background: #e5e5e5;
}
.button:active {
  box-shadow: none;
}
.button:focus {
  outline: 2px solid #fc3;
  color: white;
}
.button.btn-white {
  color: #235937;
}
.button.btn-green {
  color: white;
  background: #235937;
}

.quote {
  position: relative;
  color: gray;
  margin-bottom: 2rem;
}
.quote::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  height: 1px;
  background-color: #f2f2f2;
  bottom: -8px;
}
.quote::before {
  z-index: 0;
  position: absolute;
  content: "“";
  font-size: 55rem;
  line-height: 1;
  font-weight: 900;
  text-align: center;
  border-radius: 50%;
  font-family: "Sentinel SSm A", "Sentinel SSm B", serif;
  color: #e0e0e0;
  -webkit-transform: translateX(-50%) translateY(-20%);
  transform: translateX(-50%) translateY(-20%);
}
@media screen and (max-width: 600px) {
  .quote::before {
    font-size: 42rem;
  }
}

.video--16x9 {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
  position: relative;
}
.video--16x9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video--callout {
  background-color: black;
  position: relative;
  height: 40vw;
  min-height: 50vh;
  overflow: hidden;
}
.video--callout iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 200vh;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.blank {
  color: #fc3;
  display: block;
}

.video--callout .video__content {
  font-size: 1rem;
}
.video--callout .blank {
  margin-top: 0.5rem;
  font-size: 2rem;
}
@media screen and (min-width: 600px) {
  .video--callout .video__content {
    font-size: 2rem;
  }
  .video--callout .video__content .blank {
    font-size: 3.5rem;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
}
@media screen and (max-width: 350px) {
  html {
    font-size: 12px;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "Whitney SSm A", "Whitney SSm B";
}

img {
  height: auto;
}

.kenburns-top-left {
  -webkit-animation: kenburns-top-left 45s ease-out both;
  animation: kenburns-top-left 45s ease-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-28 22:51:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin: 4rem 0;
}

.hero__columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.content-container {
  max-width: 100ch;
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1300px;
}
@media screen and (min-width: 400px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
*:before,
*:after,
*:first-letter,
*:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
           http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
  }

  pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
h2,
h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
h3 {
    page-break-after: avoid;
  }
}
.main-nav {
  list-style: none;
  counter-reset: my-awesome-counter -1;
  margin: 0;
  padding: 0;
}
.main-nav li {
  counter-increment: my-awesome-counter;
  display: -webkit-box;
  display: flex;
  font-size: 1rem;
  font-family: "Gotham SSm A", "Gotham SSm B";
  margin-bottom: 0.5rem;
}
.main-nav li a {
  position: relative;
  color: #1a1a1a;
  display: block;
}
.main-nav li a:visited {
  color: gray;
}

footer ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 200px;
}
footer li {
  display: -webkit-box;
  display: flex;
  width: 50%;
  font-size: 1.25rem;
  font-family: "Gotham SSm A", "Gotham SSm B";
  margin-bottom: 0.5rem;
}
footer li a {
  position: relative;
  display: block;
  color: #333333;
}
footer li a:hover {
  color: black;
}
footer li a:visited {
  color: #666666;
}
@media screen and (max-width: 790px) {
  footer ol {
    flex-wrap: nowrap;
    height: auto;
  }
  footer li {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  footer li {
    font-size: 1rem;
  }
  footer li::before {
    font-size: 2.75rem;
  }
}

/*# sourceMappingURL=main.processed.css.map */
