@import url("https://cdnjs.cloudflare.com/ajax/libs/hamburgers/0.9.3/hamburgers.min.css");
@import "_variables.scss";
@import "_mixins.scss";
@import "_header.scss";
@import "_typography.scss";
@import "_animate.scss";
@import "_infographics.scss";
@import "_hero.scss";
@import "_text.scss";
@import "_mini-block.scss";
@import "_content-card.scss";
@import "_carousel.scss";
@import "_utility.scss";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

#video-modals {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  background: rgba(0, 0, 0, 0.9);
  padding: 4rem;
  &.show {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
  }
  .close-modal {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    padding: 1rem;
    background: transparent;
    border: none;
  }
  [data-vimeo-id] {
    opacity: 0;
    display: none;
    &.show {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block;
      opacity: 1;
      max-width: 1400px;
      margin: auto;
    }
  }
}

a {
  text-decoration: none;
  color: #000;
  box-shadow: inset 0 -2px 0 #fc3;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  &:hover {
    box-shadow: inset 0 -6px 0 #fc3;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
  }
}

li {
  margin-bottom: 0.5rem;
}
// .homepage-hero {
//   position: relative;
//   background-color: transparent;
//   background-image: url("../img/20190518_commencement-1_russell_0186.jpg");
//   //background-image: url("../img/sunset.jpg");
//   //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 600'%3E%3Cg fill='%23ffcc33' fill-opacity='.5'%3E%3Cpath transform='rotate(0 0 600)' d='M431.9 536.25c-13.67-52.13-68.32-47.42-145.37-136.3c-59.25-68.34-56.96-105.75-101.31-120.92 c-42.46-14.52-70.11 11.02-147.27 37.93c-152.39 53.17-192.12 5.05-266.43 55.26c-68.91 46.56-120.87 146.13-99.55 236.14 c23.27 98.25 123.76 142.58 180.12 167.44c153.61 67.76 356.96 52.81 485.34-61.53C355.3 698.36 451.86 612.36 431.9 536.25z'/%3E%3Cpath transform='rotate(0 0 600)' d='M196.55 465.84c-90.54-17.3-113.94 38.74-193.99 14.2c-67.21-20.61-83.96-70.31-148.47-67.95 c-9.24 0.34-50.97 1.86-72.38 30.92c-27.81 37.74-5.68 100.66 23.88 135.11c42.11 49.07 110.39 53.32 132.86 54.72 c32.39 2.01 33.13-5.17 57.45-0.65c25.2 4.68 50.32 17.22 109.52 74.64c66.56 64.56 153.43 44.1 200-18.76 c32.59-43.98 48.88-65.97 48.42-89.36C352.63 538.31 272.56 480.37 196.55 465.84z'/%3E%3Cpath transform='rotate(0 0 600)' d='M30.75 398.67c-192.12 64.68-304.79 212.97-316.63 360.86c-11.84 147.89 201.82 239.63 456.07 158.53 c155.5-49.6 320.92-126.2 370.79-311.26C590.38 423.5 197.7 342.47 30.75 398.67z'/%3E%3Cpath transform='rotate(0 0 600)' d='M236.27 523.63C187.71 453.38 95.85 417.38 64.84 334.17c-13.59-36.49-13.11-79.52-38.09-109.39 c-46.03-55.02-135.49-30.28-190.56-5.01c-64.7 29.7-120.44 81.94-142.66 150.86c-24.44 75.82 5.54 166.65 31.68 239.14 c48.17 133.55 144.62 316.13 315.74 274.25c72.68-17.79 131.33-73.73 170.42-135.43C254.55 680.44 286.92 596.9 236.27 523.63z'/%3E%3C/g%3E%3C/svg%3E");
//   background-attachment: fixed;
//   background-size: cover;
//   background-position-y: 50%;
//   height: calc(100vh - 100px);
//   color: white !important;
//   text-shadow: 2px 2px 10px black;
//   h1 {
//     z-index: 2;
//     margin-top: 0;
//     width: 800px;
//     top: 50%;
//     left: 50%;
//     text-align: center;
//     transform: translateY(-50%) translateX(-50%);
//     position: relative;
//     font-size: 5rem;
//     span {
//       font-family: $whitney;
//       font-size: 1rem;
//       text-transform: uppercase;
//       display: block;
//       margin-bottom: 1rem;
//     }
//   }
//   &::before {
//     content: "";
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     position: absolute;
//     background-color: rgba(255, 255, 255, 0.05);
//     background-position-y: 100%;
//     z-index: 1;
//     background-size: cover;
//   }
// }

.homepage-hero {
  position: relative;
  width: 100%;
  background-image: url(../img/ar-hero.jpg);
  background-size: cover;
  background-position: top;
  background-color: black;
  height: 65vh;
  .blank.paused {
    width: 100%;
    //display: block;
    text-align: center;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgb(244, 244, 244);
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.75)),
      to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  @media screen and (min-width: 800px) {
    height: 90vh;
  }
}

.intro {
  font-size: 1.5rem;
  max-width: 875px;
  position: relative;
  z-index: 1;
  margin: auto;
}

.home-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 0 1rem;
  @media screen and (min-width: 800px) {
    max-width: 800px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1024px) {
    max-width: 1300px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .infographic {
    width: 100%;
    max-width: 420px;
    margin: auto;
  }
}

.spotlight-container {
  background: #2f2f2f;
  color: white;
  padding: 0;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.spotlight {
  display: -webkit-box;
  display: flex;
  width: 100%;
}

.spotlight__video {
  width: 75%;
}

.spotlight__content {
  width: 25%;
  padding: 2rem;
}

.button {
  @include button();
  &.btn-white {
    color: $oswego-green;
  }
  &.btn-green {
    color: white;
    background: $oswego-green;
  }
}

.quote {
  position: relative;
  color: gray;
  margin-bottom: 2rem;
  &::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100px;
    height: 1px;
    background-color: #f2f2f2;
    bottom: -8px;
  }
  &::before {
    z-index: 0;
    position: absolute;
    content: "\201C";
    font-size: 55rem;
    line-height: 1;
    font-weight: 900;
    text-align: center;
    border-radius: 50%;
    font-family: "Sentinel SSm A", "Sentinel SSm B", serif;
    color: lighten(lightgray, 5%);
    // background: gray;
    // height: 28px;
    // width: 28px;
    // top: -35px;
    -webkit-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
    // box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.16);
  }
  @media screen and (max-width: 600px) {
    &::before {
      font-size: 42rem;
    }
  }
}

.video--16x9 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  position: relative;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video--callout {
  background-color: black;
  position: relative;
  height: 40vw;
  min-height: 50vh;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    min-width: 200vh;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.blank {
  color: #fc3;
  display: block;
}

.video--callout {
  .video__content {
    @include f5;
  }
  .blank {
    margin-top: 0.5rem;
    @include f2;
  }
  @media screen and (min-width: 600px) {
    .video__content {
      @include f2;
      .blank {
        @include f0;
      }
    }
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  @media screen and (max-width: 350px) {
    font-size: 12px;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  font-family: "Whitney SSm A", "Whitney SSm B";
}

// .container {
//   padding: 2rem 0;
//   position: relative;
//   z-index: 2;
//   background: white;
// }

img {
  height: auto;
}

.kenburns-top-left {
  -webkit-animation: kenburns-top-left 45s ease-out both;
  animation: kenburns-top-left 45s ease-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-3-28 22:51:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation kenburns-top-left
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}
@keyframes kenburns-top-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 16%;
    transform-origin: 16% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, -15px);
    transform: scale(1.25) translate(-20px, -15px);
    -webkit-transform-origin: top left;
    transform-origin: top left;
  }
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 0)),
    color-stop(rgba(0, 0, 0, 0.75)),
    to(rgba(0, 0, 0, 0))
  );
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 4rem 0;
}

.hero__columns {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.content-container {
  max-width: 100ch;
  margin: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1300px;
  @media screen and (min-width: 400px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.main-nav {
  list-style: none;
  counter-reset: my-awesome-counter -1;
  margin: 0;
  padding: 0;
  li {
    counter-increment: my-awesome-counter;
    display: -webkit-box;
    display: flex;
    font-size: 1rem;
    font-family: $gotham;
    margin-bottom: 0.5rem;

    a {
      //box-shadow: none;
      position: relative;
      color: lighten(black, 10%);
      display: block;
      // &:hover {
      //   box-shadow: none;
      //   color: black;
      //   background-color: transparent;
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     width: 100%;
      //     height: 2px;
      //     background-color: #ffcc33;
      //     z-index: 0;
      //     -webkit-transition: width 0.5s;
      //     transition: width 0.5s;
      //   }
      // }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 85%;
      //   height: 2px;
      //   background-color: #ffcc33;
      //   left: 0;
      //   bottom: 0.12rem;
      //   z-index: 0;
      //   -webkit-transition: width 1s;
      //   transition: width 1s;
      // }
      &:visited {
        color: lighten(black, 50%);
      }
    }
  }
}

footer {
  ol {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 200px;
  }
  li {
    display: -webkit-box;
    display: flex;
    width: 50%;
    font-size: 1.25rem;
    font-family: $gotham;
    margin-bottom: 0.5rem;

    a {
      //box-shadow: none;
      position: relative;
      display: block;
      color: lighten(black, 20%);
      &:hover {
        //box-shadow: none;
        color: black;
        // &::after {
        //   content: "";
        //   position: absolute;
        //   width: 100%;
        //   height: 3px;
        //   background-color: #ffcc33;
        //   left: 0;
        //   bottom: 0.25rem;
        //   z-index: 0;
        //   -webkit-transition: width 0.5s;
        //   transition: width 0.5s;
        // }
      }
      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 85%;
      //   height: 3px;
      //   background-color: #ffcc33;
      //   left: 0;
      //   bottom: 0.25rem;
      //   z-index: 0;
      //   -webkit-transition: width 1s;
      //   transition: width 1s;
      // }
      &:visited {
        color: lighten(black, 40%);
      }
    }
  }
  @media screen and (max-width: 790px) {
    ol {
      flex-wrap: nowrap;
      height: auto;
    }
    li {
      width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    li {
      font-size: 1rem;
      &::before {
        font-size: 2.75rem;
      }
    }
  }
}
