---
title: Grand Challenges
lede: There is a spirited belief at SUNY Oswego that our campus community can and will contribute at the highest levels of theory and application to investigate social and global issues, and find solutions for the grand challenges of our time.
layout: layouts/herolayout.njk
heroImage: images/OzGrandChallenedges_MBadjGREEN.jpg
---

<main class="page">

  {% Section "container mt6 mb5" %}
  <h2 class="mb4">Fresh water for all</h2>
  <p class="mt0">Over the past two years, Oswego students, faculty and staff from all disciplines have come together to tackle the multi-faceted sustainability issue of Fresh Water for All. As a result of the Grand Challenges Project, the Grand Challenges Oversight Committee gave out mini-grants to support the following areas and projects:</p>

  <ul class="fancy">
    <li>International Education</li>
    <li>Art + Creative Writing + Music in collaboration with We Are Lake Ontario, a city of Oswego eco-group </li>
    <li>ARTSwego + Career Services + English + Creative Writing</li>
    <li>Political Science + Women’s Studies Signature Courses</li>
    <li>Writing Across the Curriculum</li>
    <li>Art</li>
    <li>ARTSwego + Art + Tyler Art Gallery + Penfield Library</li>
    <li>Atmospheric and Geological Sciences</li>
    <li>English + Creative Writing</li>
    <li>Technology</li>
    <li>Penfield Library</li>
  </ul>

  <h2>Interdisciplinary efforts to advance the common good</h2>
  <p>Our students' work is crucial to the success of the Fresh Water Grand Challenge, and our common investigations and broad-based activities, led by committed faculty and staff, are happening at a global tipping point.</p>

  {% endSection %}

  <div class="content-carousel mt0 mb6 flex">
    <div class="carousel animate" data-target="carousel">
      <div>
        {% ContentCard {
          src : "images/pr.jpg",
          video: "316870648",
          starttime: "6.75",
          title: "Water filtration support to Puerto Rico",
          teaser: "Our students led a campus-wide fundraiser to support the Puerto Rico Fresh Water for All water filter initiative and raised $4,700, which was used to purchase 85 Kohler water filters to serve families who still have limited access to fresh water."
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/accessibilitydesignteam.jpg",
          title: "Ensuring education is accessible to all",
          teaser: "The Center for Excellence in Learning and Teaching (CELT), Campus Technology Services, and the Office of Communications and Marketing led an extensive web Accessibility initiative to ensure that all course materials are accessible to all. Accessibility Fellows were selected from the faculty to assist with this effort. "
        } %}
      </div>
      <div>
        {% ContentCard {
          src : "images/diversityintomorrowseducators.jpg",
          title: "Diversity in tomorrow’s educators",
          teaser: "The School of Education continued to implement its Teacher Opportunity Corps grant of $1.625 million over five years ($325,000 a year from 2016 to 2021) to support up to 50 teacher candidates of color per year to prepare them for work in high need schools."
        } %}
      </div>
    </div>
  </div>

  <div class="w-100 animate mv6">
    <div class="video--callout filter-darken">
      <div class="video__content absolute absolute--fill z-999 flex items-center">
        <p class="lh-solid gotham ttu db tc relative z-3 w-100 b">Grand Challenges explore 
        <span class="blank tc">global issues, solutions, common good</span></p>
      </div>
      <iframe src="https://player.vimeo.com/video/388505737?background=1" width="640" height="256" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
  </div>
  <section class="container">
    <div class="content-container">
      <h2>Our commitment to sustainability</h2>

      <p>The use of plastics in SUNY Oswego dining centers is down, and sustainability education is up, thanks to the work of the President’s Advisory Group on Sustainability in Dining Services. Appointed in early 2018, this advisory group consisting of students, faculty and staff reviewed all items procured and produced throughout dining services to determine their environmental impact. The advisory group made recommendations and oversaw the incorporation of best practices that strengthen our commitment to being a leader in sustainability, while providing superior customer service to students.</p>

      <p>Implementation of the following recommendations for changes in resident and retail dining began at the start of the fall 2018 semester:</p>
      <div class="flex-l ">
        <div class="w-50-l">
          <ul>
            <li>A campus-wide social awareness campaign was launched to reduce the use of bottled water and other plastic containers.</li>
            <li>Signage was posted indicating discounts/options for reusable mugs for hot beverages.</li>
            <li>Polystyrene plastic materials were eliminated from all dining areas.</li>
            <li>Resident dining areas replaced plastic soufflé cups with paper soufflé cups; plastic bowls and utensils with ceramic bowls and metal utensils, or paper bowls if take-out; and plastic stir sticks were replaced with wooden stir sticks.</li>
            <li>Retail dining areas’ takeout bags are now paper instead of plastic</li>
          </ul>
        </div>
        <div class="w-50-l pl4-l">
          <img src="images/20190425_3dprinter_plasticrecycling_0002c.jpg" class="rounded" alt="">
        </div>
      </div>
    </div>

  </main>
