---
layout: layouts/article.njk
title: Message From the President
---
<section>
  <div class="hero pv5 mb5">
    <div class="container">
      <h1 class="ma0">{{ title }}</h1>
    </div>
  </div>

  <div class="container flex-l">
    <div class="w-50-l pb5">

      <p>
        <strong>Oswego is a college that cares.</strong> Our students belong here; they thrive here. At Oswego, our faculty and staff form deep connections with our students who are on their quest for knowledge. We are a beacon in the lives of our students and graduates, preparing them and encouraging them to realize their goals. We are proud of what we have accomplished this past year and the strides our institution has made in alignment with Chancellor Johnson’s vision for Innovation and Entrepreneurship; Individualized Education; Sustainability; and Partnerships.</p>

      <p>
        <strong>Our college is strong.</strong> We are a fiscally sound institution that continues to focus on preserving our physical campus, offering modern facilities that elevate our entire campus community, and providing vital financial resources and scholarships that enable talented students to thrive at Oswego. We are an economic engine and have made a substantial impact on local and state communities through research, community service and business development. We are mindful of the need to look forward and continue to invest in the future.</p>

      <p>Many of the projects and initiatives listed throughout this annual report highlight SUNY Oswego’s <strong>commitment to increasing academic and student success</strong>, sustaining our institution, and protecting the environment. We are succeeding in our mission to prepare our graduates to live ethical and meaningful lives and build a better world for future generations.</p>

      <p>
        <strong>SUNY Oswego’s academic strength continues to rise</strong>, resulting in recognition in national rankings for the college. We revel in the significant role we play in preparing the nation’s next crop of leaders. Likewise, our campus ethos is one that embraces diversity and inclusion, encourages open dialogue, and values shared governance. We believe it is this welcoming culture – a true sense of belonging – that students, faculty, staff and alumni refer to when asked why they chose SUNY Oswego and how they have remained connected.</p>

      <p>Our 2018–2019 Annual Report <strong>shines a light on the innovative initiatives, individualized teaching and applied learning, sustainable practices and strategic partnerships</strong> in which our faculty, staff, and students have engaged as we together chart a course to learn, grow and invest in the future. Thank you all for your contributions of the past year, and for the impact you make on our institution every day to ensure collective prosperity, equity, resilience and success for all.</p>

      <p>Sincerely,</p>

      <p><strong>Deborah F. Stanley</strong><br>
        President
      </p>
    </div>
    <div class="w-50-l ml5-l">
      <div class="pres-img">
        <img src="images/20180824_welcomepicnic-cliff_simon-vital_img_3575.jpg" alt="">
      </div>
    </div>
  </div>
</section>

<script>
  $('.pres-img').stickySidebar({topSpacing: 60, bottomSpacing: 60});
</script>