---
layout: layouts/article.njk
title: Learning, Growing, and Investing in the Future
heroImage: img/ar-hero.jpg
---

<main>
  <div class="homepage-hero">
    <div class="hero-content">
      <h1 class="main-heading">Our Mission of Student Success</h1>
      <p class="sub-heading f3 b gotham lh-solid">
        <span class="blank">Learning, Growing, Investing</span>
        <span class="ib ml2">in the future</span></p>

    </div>
    <button class="video-controls" aria-label="Toggle video play/pause"><svg class="icon icon-pause2">\n' +
        '  <use xlink:href="/annual-report-2019/img/symbol-defs.svg#icon-pause2"></use>\n' +
        "</svg> </button>
  </div>
  <div class="pv6 tc bg-lg">
    <div class="container">
      <p class="quote gotham f6 ttu b">
        <span></span></p>
      <p class="intro gotham">
        <strong>Oswego is a college that cares.</strong> Our students belong here; they thrive here. At Oswego, our faculty and staff form deep connections with our students who are on their quest for knowledge.</p>
      <p>
        <a href="{{ pages.presidents_message.url | url }}" class="button btn-green relative z-5">
          
    <span class="db b mb1" style="font-size: 1rem">President's Message</span>
    Read more</a>
      </p>
    </div>
  </div>

  <div class="pv5">
    <div class="home-grid">
      <a href="{{ pages.students_and_graduates.url | url }}" class="infographic">
        <div class="center flex items-end" style="background-image: url(students-and-graduates/images/hero@0,25x.jpg)">
          <div class="">
            <p class="ma0 f2 gotham b lh-solid ttu">{{ pages.students_and_graduates.name }}</p>
            <div class="button btn-white">More</div>

          </div>
        </div>
      </a>
      <a href="{{ pages.education_ecosystem.url | url }}" class="infographic">
        <div class="center flex items-end" style="background-image: url(education-ecosystem/images/20180423_chemistry_kahn_0715@0,25x.jpg)">
          <div class="">
            <p class="ma0 f2 gotham b lh-solid ttu">{{ pages.education_ecosystem.name }}</p>
            <div class="button btn-white">More</div>

          </div>
        </div>
      </a>
      <a href="{{ pages.community_and_partnerships.url | url }}" class="infographic">
        <div class="center flex items-end" style="background-image: url(communities-and-partnerships/images/hero@0,5x.jpg)">
          <div class="">
            <p class="ma0 f2 gotham b lh-solid ttu">{{ pages.community_and_partnerships.name }}</p>
            <div class="button btn-white">More</div>
          </div>
        </div>
      </a>
      <a href="{{ pages.institution.url | url }}" class="infographic">
        <div class="center flex items-end" style="background-image: url(institution/images/20180715_demetri_andritsakis_DJI_0066_limitedRTCH@0,5x.jpg)">
          <div class="">
            <p class="ma0 f2 gotham b lh-solid ttu">{{ pages.institution.name }}</p>
            <div class="button btn-white">More</div>
          </div>
        </div>
      </a>
      <a href="{{ pages.grand_challenges.url | url }}" class="infographic">
        <div class="center flex items-end" style="background-image: url(grand-challenges/images/OzGrandChallenedges_MBadjGREEN@0,5x.jpg)">
          <div class="">
            <p class="ma0 f2 gotham b lh-solid ttu">{{ pages.grand_challenges.name }}</p>
            <div class="button btn-white">More</div>
          </div>
        </div>
      </a>
      <a href="{{ pages.facts_and_figures.url | url }}"  class="infographic">
        <div class="center flex items-end" style="background-image: url(facts-and-figures/images/2019.07.21_throop_7740rtch@0,5x.jpg)">
          <div class="">
            <p class="ma0 f2 gotham b lh-solid ttu">{{ pages.facts_and_figures.name }}</p>
            <div class="button btn-white">More</div>
          </div>
        </div>
      </a>
    </div>

  </main>
  <script>

    gsap.from(".hero-content", {
      opacity: 0,
      duration: 1
    });

    
  </script>