---
title: Facts and Figures
lede: SUNY Oswego contributes to the common good by lighting the path to wisdom and empowering every person in the college community to pursue a meaningful life as a productive, responsible member of society.
layout: layouts/herolayout.njk
heroImage: images/2019.07.21_throop_7740rtch.jpg
---

<style type="text/css">
  #collegeschool-legend ul {
    padding: 0 !important;
  }
</style>

<main class="page">
  <section class="container mv6">
    <div class="content-container">
      <h2>Statistics</h2>
      <h3>Fall 2018 enrollment</h3>
      <div class="flex-l flex-m">
        <div class="w-50-l w-50-m">
          <p>Total: <span class="f3 purple b gotham">7,986</span></p>
          <ul>
            <li>7,081 undergraduates; 96% are full-time/4% are part-time; 50% female/50% male</li>
            <li>905 graduate students; 37% are full-time/63% are part-time</li>
            <li>From NYS: 6,681  (94%)</li>
            <li>From CNY:  2,061 (29%)</li>
            <li>From NYC and Long Island: 2,031 (29%)</li>
            <li>International:  189 (3%)</li>
          </ul>
        </div>
        <div class="w-50-l w-50-m">
          <div class="rounded bg-lg">
            <img src="images/torchlight.jpg" alt="">
            <div class="pa4 f7">
              <p class="ma0">
                <span class="f3 ma0 lh-title b orange gotham mr2 fl" style="color: #654010">29%</span> of total student body (including international students) self-identified as Hispanic, African-American, Asian, Native American, Pacific Islander or multi-ethnic. <em>Our most culturally diverse overall student population ever.</em>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-column-reverse flex-column flex-row-l flex-row-reverse-l">
        <div class="ml4-m ml4-l w-50-l">
          <h3>Fall 2018 first-year student statistics</h3>
          <p>Distribution of Fall 2018 class by college/school:</p>
          <div id="collegeschool-legend"></div>

          <p>Average undergraduate SAT/ACT/GPA: <span class="f3 b blue gotham">1143/24/90</span></p>
          <p>
            <span class="b f3 gotham purple">45%</span> of Fall 2018 first-year students received a four-year renewable SUNY Oswego scholarship</p>
        </div>
        <div class="w-50-l mt6 mb0 mt0-l">
          <canvas id="collegeschool" width="100" height="400"></canvas>
        </div>
      </div>

      <div class="">
        <h3>Economic impact on region</h3>
        <h4>Largest public employer in Oswego county</h4>
        <p>
          <em>Data current as of May 1, 2019</em>
        </p>
        <span class="gotham f4 b orange">4,993</span> full-time, part-time and student employees<br>
        <span class="gotham f4 b blue">61%</span> of non-student employees lived in Oswego County</p>
    </div>

    <div class="flex-l items-center">

      <div class="w-50-l">
        <h3>Campus renewal and capital projects</h3>
        <p>Over the past 5 years of campus renovations and new construction, SUNY Oswego’s capital plan projects exceeded <span class="green gotham b f4">$69 million</span> and injected more than <span class="yellow gotham b f4">$37 million</span> into New York’s economy</p>
      </div>
      <div class="w-50-l pl4-l">
        <img src="images/school-of-ed-atrium.jpg" class="rounded mt5-l" alt="">
      </div>
    </div>

    <div class="">
      <h3>Research dollars in action</h3>
      <p>
        <span class="gotham b f4 purple">$4 million</span> in federal, state and private support<br>
  More than <span class="gotham b f4 blue">$1 million</span> invested in campus support for teaching, research, experiential and pre-professional learning opportunities</p>
    </div>

    <h2 class="mt6">Outcomes</h2>
    <div class="flex-l items-center">
      <div class="w-50-l">
        <h3>Degrees Awarded</h3>
        <p>Total: <span class="f3 b blue gotham">2,181</span></p>
        <ul>
          <li>Bachelor’s Degrees: 1,739</li>
          <li>Graduate: Degrees: 442</li>
          <li>Master’s Degrees: 345</li>
          <li>Certificate of Advance Studies: 78</li>
          <li>Advanced Certificate: 19</li>
        </ul>
      </div>
      <div class="w-50-l pl4-l mt4-l">
        <img src="images/outcomes.jpg" class="rounded" alt="">
      </div>

    </div>
    <h3>Class of 2018 first destination outcomes</h3>
    <p>As of Fall 2019:</p>
    <ul>
      <li>
        <span class="f4 gotham b blue">95%</span> Employed and/or Continuing Education</li>
      <li>
        <span class="f4 gotham b yellow">89%</span> of those working full-time are in their field of choice.</li>
      <li>
        <span class="f4 gotham b purple">66%</span> work in New York State</li>
    </ul>

    <p>Fall 2017 Cohort Retention Rate as of Fall 2018: <span class="f4 b gotham orange">76.2%</span></p>

    <h3>Student scholarships and endowment</h3>
    <h4>Oswego College Foundation, Inc.</h4>

    <div class="flex-l mv4">
      <div class="w-50-l pr3-l">
        <canvas id="endowment"></canvas>

      </div>
      <div class="w-50-l pl3-l">
        <canvas id="scholarshiprecipients"></canvas>

      </div>
    </div>

    <div class="rounded bg-lg center flex-l mv5 items-center overflow-hidden">
      <img src="images/sunset.jpg" class="w-50-l" alt="">
      <div class="pa4 w-50-l">
        <p class="ma0">Nearly <span class="purple f4 b gotham">86%</span> of ALL 2018–2019 students enrolled received more than <span class="f4 gotham b orange" style="color: #654010">$85 million</span> in aid (scholarships, grants and loans)</p>
      </div>
    </div>

    <h2 class="mt6">2018-19 all college budget: $205.3 million</h2>
    <div class="flex-l mb5">
      <div class="w-50-l">
        <h3 class="text-center">Revenues</h3>
        <div id="rev-container" class="chart-data">
          <canvas id="rev" width="332" height="400" style="display: block; width: 332px; height: 400px;"></canvas>
        </div>
        <div id="rev-legend"></div>
      </div>
      <div class="w-50-l">
        <h3 class="text-center">Expenditures</h3>
        <div id="exp-container" class="chart-data">
          <canvas id="exp" width="332" height="400" style="display: block; width: 332px; height: 400px;"></canvas>
        </div>
        <div id="exp-legend"></div>
      </div>
    </div>

    <p>These charts reflect SUNY Oswego’s operating results during the 2018-19 fiscal year, the most recent final data available through the Integrated Postsecondary Education Data System (IPEDS) Financial Survey. IPEDS no longer includes Auxiliary Services activity (dining, vending, bookstore, etc.), which amounted to $27,235,304 in 2018-19.</p>

        <h3>Capital outlay</h3>
        <p>
          <strong class="f4 gotham purple">$23.4 million</strong><br>
The college had capital construction and equipment outlay, across all funds and operations, amounting to <strong>$23,438,963</strong> in 2018-19.</p>
        

      <div class="flex-l items-end">
      <div class="w-40-l pr3-l">  
        <h3>Alumni</h3>
        <p class="gotham f4 b green">87,000+</p>

        <h3>Facilities</h3>
        <p>
          <strong class="f4 b gotham green">795.5</strong> acres <br>
          <strong class="f4 b gotham yellow">76</strong> buildings</p>
      </div>
      <div class="w-60-l pl3-l">
        <img src="images/roker.jpg" class="rounded" alt="">
      </div>
    </div>

    <h2 class="mt6">Accreditations</h2>
    <div class="grid-2 mv5 f7">
      <div class="tc mb3"><img src="images/middle-states.jpg" alt="">
        <p>Commission on Higher Education of the Middle States Association of College and Schools</p>
      </div>
      <div class="tc mb3"><img src="images/aacsb.jpg" alt="">
        <p>AACSB International - the Association to Advance Collegiate Schools of Business</p>
      </div>
      <div class="tc mb3"><img src="images/abet.jpg" alt="">
        <p>Engineering Accreditation Commission of ABET</p>
      </div>
      <div class="tc mb3"><img src="images/ncate.jpg" alt="">
        <p>National Council for Accreditation of Teacher Education (NCATE)</p>
      </div>
    </div>

    <a target="_blank" href="https://www.oswego.edu/institutional-research/suny-oswego-accreditation">View all accreditations</a>

    <h2 class="mt6 mb4">College leadership (2018-19)</h2>
    <p>
      <strong>Deborah F. Stanley</strong><br>
President</p>

    <p>
      <strong>Scott R. Furlong</strong><br>
Provost and Vice President for Academic Affairs</p>

    <p>
      <strong>Jerri Howland</strong><br>
Vice President for Student Affairs and Enrollment Management</p>

    <p>
      <strong>Nick Lyons</strong><br>
Vice President for Administration and Finance</p>

    <p>
      <strong>Mary Canale</strong><br>
Vice President for Alumni Relations and Development</p>

    <p>
      <strong>Pamela D. Caraccioli</strong><br>
Deputy to the President for External Partnerships and Economic Development</p>

    <p>
      <strong>Kristi Eck</strong><br>
Chief of Staff</p>

    <p>
      <strong>Rodmon King</strong><br>
Chief Diversity and Inclusion Officer</p>

    <p>
      <strong>Mary C. Toale</strong><br>
Executive Assistant to the President</p>

    <p>
      <strong>Wayne Westervelt</strong><br>
Chief Communication Officer</p>

    <div class="pa4 wave-bg rounded mt5">
      {# <h4 class="mt0 mb4 tc">More Oswego Leadership</h4> #}
      <div class="grid-2 np tc">
        <a class="button" target="_blank" href="https://www.oswego.edu/leadership/presidents-council">President’s Council with Deans</a>
        <a class="button" target="_blank" href="https://www.oswego.edu/leadership/college-council">College Council</a>
        <a class="button" target="_blank" href="https://alumni.oswego.edu/s/1552/bp18/interior.aspx?sid=1552&gid=1&pgid=460">Oswego College Foundation <br>Board of Directors</a>
        <a class="button" target="_blank" href="https://alumni.oswego.edu/s/1552/bp18/interior.aspx?sid=1552&gid=1&pgid=459">Oswego Alumni Association <br>Board of Directors</a>

      </div>
    </div>

  </div>
</section>
</main>

<style>
.indent {
  padding-right: 2rem;
}
</style>